[2019-01-09 18:38] rwjblue commented on #558
Perfect, thank you!

[2019-01-10 21:59] elwayman02 opened #604 "no-unnecessary-concat questionable recommendations?"
In testing out v1.0.0 of ember-template-lint, we noticed the `no-unnecessary-contact` rule making recommendations like changing `href="{{foo}}"` to `href={{foo}}`. We're not entirely sure this is correct and wanted to bring it up for reevaluation to see if this rule needs refinement or if we're misunderstanding what is the recommended best practice here.

cc: @rwjblue

[2019-01-11 02:16] bmish commented on #604
To my knowledge, there's no functional difference between the two examples that you provided, but the one without quotes is cleaner/simpler, because expressions don't need to be quoted when used as attribute values. And similar to other lint rules, the goal is to enforce a single way of writing the code.

[2019-01-11 03:14] bmish commented on #604
I'm adding a migration path to the documentation to make it easy to adopt this rule: https://github.com/ember-template-lint/ember-template-lint/pull/605

[2019-01-11 06:58] jasonmit commented on #536
globby supports the ability to ignore paths.

https://github.com/ember-template-lint/ember-template-lint/blob/16325086ec8b3e2f9a5c03dc45799aef591fc52d/bin/ember-template-lint.js#L70

Can become:

[code]

This will partially solve the problem for most people.

The issue will persist for people with monorepos because of: https://github.com/sindresorhus/globby/issues/86

To solve that issue, you woul

[2019-01-11 07:04] jasonmit commented on #536
@Duder-onomy curious, do you also have a monorepo?

[2019-01-11 11:46] rwjblue commented on #536
Thanks for digging into this @jasonmit.

Just curious, what does eslint do here?

[2019-01-11 16:10] #511 closed

[2019-01-11 18:15] Turbo87 commented on #604
the difference is that `href="{{foo}}"` causes the template to contain a `Concat` step which essentially converts the value from whatever it is to a string. most of the time it is probably already a string though and unnecessary work and shipped bytes

I don't agree that this is a good general rule to follow

I'm not entirely sure how those issues are actually related or how they would have preven

[2019-01-11 18:50] rwjblue commented on #604
We do already have a rule in the recommended set for preventing this:

[code]

Its primary point is to require either quotes or mustaches (this prevents the `<FooBar @blah=derp />` style of issue I mentioned in those linked issues above).

[2019-01-11 19:23] elwayman02 commented on #604
I don't find this to be a compelling argument, as I strongly believe prettier made the wrong choice and this is a bad practice. But, as @rwjblue said, prettier exists not because it makes the best choices, but because it's a definitive anti-bikeshed tool.

[2019-01-11 23:55] jasonmit commented on #536
Our project kept [the blueprint's `.eslintignore`](https://github.com/ember-cli/ember-cli/blob/master/blueprints/app/files/.eslintignore) in every one of the packages within our monorepo.

For `.gitignore`, which globby is parsing to figure out what to ignore, is outside of the package `ember-template-lint` is executed within and therefore `ember-template-lint` goes into `tmp`, `dist`, etc.

Are y

[2019-01-12 00:00] rwjblue commented on #536
Yes, sounds absolutely fine to me.

[2019-01-13 11:09] #536 closed

[2019-01-16 05:37] bmish opened #612 "'unrecognized rule name' error when attempting to use comment to disable rule from plugin"
It appears that rules defined in a custom plugin are not considered by the `_isRuleName` function that checks rule names.

[code]

[2019-01-16 16:21] rwjblue commented on #558
This was fixed by #559

[2019-01-16 16:21] #558 closed

[2019-01-16 16:29] rwjblue commented on #587
Yes, I completely agree. Would accept a PR addressing...

[2019-01-17 20:02] brondsem opened #616 "junit xml output"
Is junit-style xml output possible?  That would be nice so that Jenkins (and probably other tools too) could directly parse the output of ember-template-lint.

[2019-01-18 17:52] astronomersiva commented on #534
I believe #607 fixed this as well. Not seeing the slowness after upgrading to v1.1.0 that was released just a couple of days ago.

[2019-01-18 20:07] robclancy commented on #604
The prettier one is also bad imo because if you remove the `()` you can't use `{}` at all. So if you wanted to map all array items into `{ value: 'value' }` then `value => { value}` fails. This is one annoying thing I have had multiple times so no longer remove them unless super simple things.

The other thing here is easily identifying what something is. If something is inside a string you know i

[2019-01-19 09:13] kellyselden opened #617 "more options to quotes rule"
I implemented the quotes rule the quickest and to satisfy the style I was using. It is now clear that there should be at least one more option for when you enter hbs syntax.

Some people prefer

[code]

This is not possible with the current rule, where it is all or nothing double qoutes.

I'm not sure the api, but maybe something like

[code]

[2019-01-19 09:13] kellyselden commented on #550
This is more an unimplemented feature than a bug. Covered in #617.

[2019-01-19 09:13] #550 closed

[2019-01-23 16:45] rwjblue commented on #534
Awesome, thank you for confirming!

[2019-01-23 16:53] rwjblue commented on #616
Sounds great, definitely open to adding something like this.

For now, I think the best we have is `--json` flag to emit machine readable output...

[2019-01-23 20:26] MelSumner opened #625 "[A11y] no-abstract-roles"
## Rule Requested
Check to make sure that abstract roles are not used.

## Example(s)
The HTML attribute `role` should never have the following values:
- command
- composite
- input
- landmark
- range
- roletype
- section
- sectionhead
- select
- structure
- widget
- window

## Reference
[https://www.w3.org/TR/wai-aria-1.0/roles#abstract_roles](https://www.w3.org/TR/wai-aria-1.0/roles#abstract_rol

[2019-01-23 20:51] MelSumner opened #626 "[A11y] required-context-role"
## Rule Requested
The required context role defines the owning container where this role is allowed. If a role has a required context, authors MUST ensure that an element with the role is contained inside (or owned by) an element with the required context role. For example, an element with `role="listitem"` is only meaningful when contained inside (or owned by) an element with `role="list"`.

## R

[2019-01-23 21:03] lifeart commented on #625
I can take it

[2019-01-23 22:07] rwjblue commented on #625
👍

[2019-01-23 22:35] rwjblue commented on #626
@MelSumner - Can you include example template snippets that would be good/bad (doesn't need to be exhaustive, but I'd like to make sure we are on the same page).

[2019-01-24 04:43] lifeart commented on #626
@rwjblue any common/easy way to check parents without stack in `hbs` `AST`?

[2019-01-24 05:04] lifeart commented on #626
@MelSumner, is this case valid?

[code]

when we have few nodes between roles

[2019-01-24 12:53] MelSumner commented on #626
@lifeart no, that's not valid.

[2019-01-24 14:01] lifeart commented on #626
@MelSumner can you provide error message for this rule?

[2019-01-24 15:10] lifeart commented on #626
Done

[2019-01-25 10:20] puwelous commented on #509
@raphaelns-developer unfortunately it doesn't work ☝️
[code]

[2019-01-25 20:20] lifeart commented on #616
@rwjblue looks like it can be solved adding one dependency https://www.npmjs.com/package/mocha-junit-reporter

[2019-01-25 20:49] lifeart commented on #572
This fixing test:
[code]

[2019-01-25 22:01] #429 closed

[2019-01-25 22:03] rwjblue commented on #29
@lifeart - I'm not sure I follow? Having a template with _only_ `{{yield}}` seems bad regardless of contextual components...

[2019-01-25 22:22] lifeart commented on #29
ah, I mean `{{yield (hash someProp=someValue)}}`.

Regarding `{{yield}}` only components it can be an usecase for component with tag wrapper for some styling or native DOM bindings for internal content.

ex:
[code]
[code]

-------------------------

[code]
[code]

[2019-01-25 22:35] rwjblue commented on #29
@lifeart - In your example:

[code]

Having a template like:

[code]

Is **the default behavior**, having no template at all will work _exactly_ the same.

[2019-01-25 22:43] lifeart commented on #29
omg, I believe `no-yield` == no block rendering, even without templates

[2019-01-26 18:05] MelSumner commented on #555
I'm curious- is there a reason the standard could be followed?

- depending on the scenario, apply a specific class
- if it's a viewport issue, then have media queries in the CSS

Inline styling just makes for really messy code. I'd rather someone turn off the rule completely then for us to try to rationalize if/when it should be allowed. Just my $.02 though!

[2019-01-26 19:21] MelSumner commented on #197
'menuitem' is a deprecated HTML element, so this issue could be closed.

[2019-01-26 21:21] #197 closed

[2019-01-27 16:44] rwjblue commented on #553
Fixed by https://github.com/ember-template-lint/ember-template-lint/pull/638

[2019-01-27 16:44] #553 closed

[2019-01-27 16:45] rwjblue commented on #464
Fixed by https://github.com/ember-template-lint/ember-template-lint/pull/638

[2019-01-28 16:38] panthony opened #643 "[attribute-indentation] Can't seem to be able to satisfy linter"
With the following snippet:

[code]

I just can't seem to be able to satisfy the linter for the `attribute-indentation` rules.

First it complains about positional param:

But If I add a line return to move 'item.disabled' on L20, it complains about action helper:

Since there is no `--fix` argument that I know of I can't make it fix it for me.

Am I in a corner case or something?

[2019-01-29 07:56] panthony opened #644 "[attribute-indentation] Unable to satisfy rule because of whitespace control ({{~value~}})"
For the following snippet:

[code]

I'm unable to satisfy the linter:

Removing  `~` from `{{~text~}}` will fix the issue.

[2019-01-29 13:32] lifeart commented on #643
@rwjblue looks like alot of `issues` related to `attribute-indentation` rule, can we create special tag for it, to help devs search/debug/fix this scope.

[2019-01-29 13:38] panthony commented on #643
@lifeart When I tried to disable this rule and generate a new 'pending' list I encountered another issue:

https://github.com/ember-template-lint/ember-cli-template-lint/issues/436

Some rules are really nice to have but that one, for now, is wasting me a lot of time for virtually no benefits :(

[2019-01-30 00:05] Duder-onomy commented on #536
I found the root cause of my issues, I have many... (probably too many) linked packages.
The linter was traversing those repos. Unlinking them fixed things and the linter no longer hangs.

[2019-01-30 21:42] jonchoukroun commented on #644
I'm running into the same issue:
[code]

Removing `~` from the `if` blocks fixes the issue.

[2019-02-15 18:07] kiwiupover opened #654 "Lint <head><title> tag looking for curlies"
The `<title>` tag will print any html characters is side the tag.  When using fastboot and rehydration the `<title>` tag with dynamic attributes glimmer will add rehydration tags `` inside the <title>.

https://cl.ly/1r3h03190G3x

The lint rule should alert the dev that there could be an issue.

https://dev.w3.org/html5/spec-preview/tokenization.html#rcdata-end-tag-name-state

[2019-02-15 19:31] CvX commented on #654
I've had this issue, but I'd rather have it fixed in Glimmer VM, possibly by rendering rehydration tags only outside `<title>` (and `<script>`!) than have a lint rule (which would alert a false-positive when rehydration rendering isn't enabled).
Or do you think of this rule as a kind of a stop-gap?

[2019-02-15 22:08] kiwiupover commented on #654
I agree with you @CvX a fix in glimmer would be better for sure. This could be a temporary fix until the upstream versions are fixed.

https://github.com/glimmerjs/glimmer-vm/issues/796

[2019-02-16 23:51] axsuul commented on #539
@jamesarosen Don't you mean `{{foo-bar}}` to `<FooBar>`?

[2019-02-16 23:52] jamesarosen commented on #539
I might. I believe when I opened this issue the plan was to have Ember follow the CustomElement requirement of a dash in component names.

[2019-02-21 07:32] bartocc commented on #602
hi @rwjblue, I'd like to help on this one.

We are in the process of removing implicit `this` in our code base.

Is https://github.com/dyfactor/dyfactor-plugin-disambiguate-locals still active though? A small typo PR is still open from June 2018 and has not received any comment yet: https://github.com/dyfactor/dyfactor-plugin-disambiguate-locals/pull/2/files

[2019-02-28 08:03] boris-petrov opened #662 "Using `&times;` gives a `no-bare-strings` warning"
I think this is a bug. We also have things like `&nbsp;` in the templates which do not output the warning. I glanced over the code for `no-bare-strings` and I couldn't see where this is handled. But in any case, `&times;` should not give a `no-bare-strings` warning.

[2019-02-28 17:18] Frozenfire92 opened #663 "no-invalid-interactive capturing onError"
The following triggers this rule, where I would expect it not to as `onError` isn't a user interaction such as clicking

[code]

[2019-02-28 17:20] Frozenfire92 commented on #663
It looks like there are existing exceptions

https://github.com/ember-template-lint/ember-template-lint/blob/master/lib/rules/lint-no-invalid-interactive.js#L81-L90

[2019-02-28 20:04] rwjblue commented on #663
:+1: happy to add exceptions for this as needed, though I think it should be `onerror` not `onError`...

[2019-02-28 21:23] rwjblue commented on #662
The character referenced by &times; is not included in the list of whitelisted items here:

https://github.com/ember-template-lint/ember-template-lint/blob/a17f59626ff6f0bfc0358c0b0a13b10283d533d4/lib/rules/lint-no-bare-strings.js#L41-L68

In _theory_ we could whitelist all HTML character entities, but I suspect it would have a nontrivial impact to the speed of running template lint against a file

[2019-03-04 13:47] amk221 opened #666 "Invalid rule configuration found"
...for `no-negated-condition` and `no-extra-mut-helper-argument`  with

`ember-template-lint` 1.1.0
`eslint` 5.15.0

[2019-03-04 16:23] boris-petrov commented on #662
I'm not sure this should be explicitly whitelisted... I think these `&XXX;` strings should just be plainly ignored by this rule by default. Is this possible?

[2019-03-04 19:42] bmish commented on #666
Those are new rules in ember-template-lint 1.0.0 and 1.1.0. Enabling them in `.template-lintrc.js` works for me.

Are you also using `ember-cli-template-lint`? If so, that might be causing the problem, because `ember-cli-template-lint` hasn't been released with the latest version of `ember-template-lint` yet, and so it might be causing you to end up with the old version that doesn't have the lates

[2019-03-04 20:12] amk221 commented on #666
Nope, I don't use `ember-cli-template-lint` - I use `yarn lint:hbs`, which passes fine.

The warnings happen through eslint, I'll have a closer look tomorrow

[2019-03-04 20:15] bmish commented on #666
And just to confirm, `yarn why ember-template-lint` only shows you depending on the latest version?

[2019-03-05 01:56] rwjblue commented on #666
AHH, you are almost certainly hitting the issue I describe in
https://github.com/psbanka/eslint-plugin-hbs/issues/25. Basically, eslint-plugin-hbs depends on an older version of ember-template-lint that does not have these rules...

[2019-03-05 21:04] NullVoxPopuli opened #668 "Default?: add error on using single braces instead of double"
If someone has only known react, and they are maybe not familiar with ember templates, they may try to reference local properties/functions via single brackets (as you would in JSX).

Maybe adding linting rule to catch: `{someLocalVar}`, `{@arg}`, or `{this.someProperty}` could be added to ask if they actually want to do double curlies

[2019-03-06 01:49] rwjblue commented on #668
I wonder if we can be certain that they have made the mistake 🤔. I wonder if we only look for known block params, named arguments, and paths off of `this`, would that be good enough?

[2019-03-06 02:06] rwjblue commented on #662
By the time our plugins run these html entity codes have been replaced by the underlying value that they represent (aka our plugin doesn't know the difference between `&nbsp;` and ` ` at the moment).

I think we could fix that, but we'd need to consider the best way to do it...

[2019-03-09 00:06] Redsandro opened #669 "My .template-lintrc.js is being ignored"
I'm trying to stop Ember from complaining about single quotes in templates.

[code]

Nothing changes.

It must be something I did. I don't install things globally because of reasons, so I start my app like this:

[code]

Versions:

[code]

Errors:

[code]
etc.

[2019-03-27 20:13] sohara opened #680 "Table group rule does not account for component composition"
I have run into an issue with the table group rule. I am creating a contextual table component that will look something like this:
[code]

Consuming contexts would do something like:
[code]
As you can see, this is meant to be invoked in such away that the invoking context will employ a table group, but of course there is nothing forcing them to do so.

I could silence the lint error using a commen

[2019-03-28 15:53] rwjblue commented on #680
I agree, we can definitely allow `{{yield}}` as a valid child of `<table>`.  I think you'd need to add another conditional around here:

https://github.com/ember-template-lint/ember-template-lint/blob/69da8f2a0d6c6b014186d9b2723a616e38cd7baf/lib/rules/lint-table-groups.js#L14-L15

Then beef up the tests...

[2019-03-29 13:47] viniciussbs commented on #44
I was here searching for a rule like "button-type-attributes", similar to the existing one "img-alt-attributes", that would require the presence of the attribute `type` on `<button>` to avoid wrong form submission. I didn't know that this is also a problem even outside form tags. For me it's OK to always enforce the presence of `type`.

[2019-04-01 11:12] panthony opened #683 "[block-identation] unrecognized by template-lint-disable"
Using `ember-template-lint@v1.1.0`, for the following template:

[code]
I have the following output:

[code]

Did I stumble upon an issue here?

[2019-04-01 11:51] Alonski opened #684 "[Rule Request] Element Attribute Order"
Not exactly sure how to call this rule.
Pretty much what I want is a rule that would throw on incorrect order inside of Element/Component invocation.

For example:
Take this component:
[code]
There is no order to the attributes/modifiers etc

I think there should be an order such that `class` is first, then `data-test` then `props` then `actions`
Any thoughts?

[2019-04-01 13:08] rwjblue commented on #684
So you are suggesting that the order is:

* attributes (ordered alphabetically)
* arguments (ordered alphabetically)

Right?

Where do element modifiers go? Logically they belong in the "attributes" camp, but I think that looks a bit odd...

[2019-04-01 16:52] Alonski commented on #684
@rwjblue I think I am suggesting we discuss this so that we can figure out a correct order.
I am just tired of having actions, attributes, arguments etc in no specific order.
Makes looking at a component hard to understand. Especially one that receives many props.

If we can create a codemod to fix this that would be even more amazing 😉

[2019-04-01 18:13] bmish commented on #683
You spelled `block-indentation` wrong in the disable comment :P

[2019-04-01 18:47] panthony commented on #683
@bmish The smallest errors are the harder to see ... sorry for the bad issue and thanks 👍

[2019-04-01 18:47] #683 closed

[2019-04-05 13:36] kjarri commented on #669
As far as I can tell, this is working as intended. the quotes rule accepts either `'double'` or `'single'`. You've set it to single and therefore the linter complains about any double quotes it finds in your templates.

[2019-04-05 14:19] Redsandro commented on #669
I guess it might be mild dyslexia or a poorly written issue.
Let me revisit this issue when I'm working on the project that caused this again.

[2019-04-08 13:25] rwjblue commented on #684
I think I'd prefer:

* arguments
* attributes
* element modifiers
* `...attributes`
* block params

To move forward here I think we need something like the following steps:

* create a new rule (`component-invocation-order`, `element-space-order`, some other name?)
* in the rule, implement the `ElementNode` visitor that ensures the ordering is correct
* group `node.attributes` into "arguments" and

[2019-04-08 14:07] Alonski commented on #684
@rwjblue idealy this would work for non angle bracket components as well no? So this would need to account for that as well.

Can an ast explorer be used to prototype this?

[2019-04-08 15:10] rwjblue commented on #684
No, I don't think so? Curly invoked components can _only_ have arguments (no attributes, element modifiers, or `...attributes`).

[2019-04-08 17:45] Alonski commented on #684
@rwjblue If I take the example above:
[code]
Curly invocation:
[code]

I would want it to be"
[code]
There is still order here.

Would this not be possible?

[2019-04-09 11:38] zorn-v opened #691 "self-closing-void-elements as disabled by default"
This rule has opposite opinions (e.g. https://github.com/ember-template-lint/ember-template-lint/issues/121), but by default it advices to make templates not xml compliant. I don't like it at all.
And for disable it I need to search how to disable it ? What practical purpose for this rule ?

[2019-04-09 13:07] rwjblue commented on #691
I'm sorry you don't particularly like the default configuration. These things happen, its quite hard to please everyone. I'm glad you have figured out how to disable the rule (or change it to the opposite if you want to force valid XML).

In general, the parser we use is based on the HTML5 parsing spec so it makes sense to stick with HTML specific syntaxes. Changing the default behavior seems very

[2019-04-09 13:08] rwjblue commented on #691
I'd very much welcome any tweaks/additions to the documentation to make this easier for folks that share your personal taste.

[2019-04-09 15:34] zorn-v commented on #691
Agree. But my opinion - standards is over opinions 😉
You can not close some tags because browsers allow it (because lazy designers). HTML5 allow it, but "exclusion from rule" may work like "browser vendor likes".

Can you say me exact DOM for `<p><h1><div><img>` in all browsers ?

[2019-04-09 15:49] zorn-v commented on #691
"May" should not treated as "should"

[2019-04-11 18:04] MelSumner commented on #691
@rwjblue if we don't want to turn it off by default it would be nice if we could correct a few things.

<img /> is valid HTML and should be allowed, shouldn't it? Or is there a different way this is determined?

[2019-04-11 20:09] rwjblue commented on #691
I do not understand what you mean. Please elaborate on which things should be corrected.

@MelSumner - `<img />` is corrected by browsers to `<img>`. The trailing slash in this case is meaningless, and the fact that it is corrected by the browser means that Fastboot tests (confirming that the SSR results when appended match the original SSR'ed string).

[2019-04-13 01:28] josemarluedke opened #696 "Element Modifiers in components"
I'm using Ember canary (`27255073091ef4c020ed8bf552c54f5b3f54d25b`) where it has forwarding of element modifiers enabled (`EMBER_GLIMMER_FORWARD_MODIFIERS_WITH_SPLATTRIBUTES`).

I have a component that I'm passing a modifier to it, while the application works as expected, template lint has a compile error.

[code]

I could not find any rules for that, so my understanding is that we need to upgrade

[2019-04-17 08:52] gossi opened #699 "Order of tag "parameters""
I'm about to write some codestyle and was thinking in which order to pass "parameters" to html/component tags:

Here is my initial thought (more random):

order of "parameters" in tags (they go grouped):

1. @arguments
2. modifiers
3. attributes
4. data-* attributes
5. splattributes (must be after all other attributes)

which would make something like this:

[code]

Since the order is important an

[2019-04-17 13:06] marshy2201 opened #700 "no-outlet-outside-routes error showing for route template"
The no-outlet-outside-routes error is showing for a file that is a route template.

Is this because of the file directory where 'components' is named?

[code]

[2019-04-18 07:21] tniezurawski commented on #699
@gossi I think that's a duplicate of https://github.com/ember-template-lint/ember-template-lint/issues/684

[2019-04-18 14:27] rwjblue commented on #699
Ya, agreed. Lets keep the convo over in #684

[2019-04-18 14:27] #699 closed

[2019-04-18 18:34] gossi commented on #699
Ah, yes - that's a better place, will repost there. Sorry for not searching better but thanks for pointing me there.

[2019-04-18 18:36] gossi commented on #684
I was adresseing the same question, here is the repost from #699

My initial thought (more random):

order of "parameters" in tags (they go grouped):

1. @arguments
2. modifiers
3. attributes
4. data-* attributes
5. splattributes (must be after all other attributes)

which would make something like this:

[code]

Since the order is important and after discussion with @buschtoens we extended my int

[2019-04-18 19:11] Alonski commented on #684
I think that we should write this rule with a default order and allow changing this in the template lint config. Once the rule is written changing the default order will be easy and we can test it out on codebases to see what looks better.

[2019-04-19 13:12] rwjblue commented on #699
No worries!

[2019-04-20 10:41] gossi commented on #684
I think we are fine with a default order here (and see if this will hit a use-case where it will break the application, which would then need to ignore this rule or lower the severity).

The more important question to me is: What will the default order be?

[2019-04-20 18:32] mike-north opened #702 "block-indentation should ignore <pre>"
the `block-indentation` rule, in its current state, can be harmful around HTML tags where whitespace is meaningful (i.e., `<pre>`)

To reproduce
[code]
I get this linter feedback
[code]
The whitespace I'd have to add to make the linter happy in this case would result in an undesirable visual change to the rendered HTML (i.e., an extra blank newline at the bottom of each `<pre>`)

### Suggested sol

[2019-04-24 15:46] artemgurzhii opened #704 "BUG: no-implicit-this error is thrown on component without arguments"
[code]
with `'no-implicit-this': true` throws error

[2019-04-24 17:50] patocallaghan commented on #562
If anyone's interested to weigh in I've opened an issue to discuss the self-closing-void-element rule which currently being violated by the Prettier glimmer parser https://github.com/prettier/prettier/issues/6079

[2019-04-24 19:57] mike-north opened #705 "block-indentation rule conflicts with prettier for hbs block syntax"
### What prettier wants
[code]
### What template-lint is happy with
[code]

Particularly if we're going to include code-style lint rules (i.e., indentation, quotes) in the default ruleset, we should be able to recommend some combination of tools that Just Work™️ and don't run the risk of two things competing against each other

[2019-04-24 20:01] mike-north commented on #29
We should consider that enabling this rule would result in `ember g component` having lint problems immediately upon generation. Historically, we've tried to ensure that `ember g <thing>` commands result in "no problems", including making sure the initially-generated tests are "born already passing".

[2019-04-25 17:58] rwjblue commented on #29
Sure, but that just means `ember g component` would need to update what it emits, not that we shouldn't do the lint rule 😉

[2019-04-25 18:00] rwjblue commented on #705
Agree, but we should most likely fix this in prettier. `{{#link-to` should be treated no differently than `<LinkTo` but it currently is (the `<LinkTo` case would expect the same indentation that the rule currently wants).

[2019-04-25 18:04] rwjblue commented on #704
Invocations like that are "ambiguous" (it could be referring to a property path) and require configuration of the rule.

[The docs for the rule](https://github.com/ember-template-lint/ember-template-lint/blob/master/docs/rule/no-implicit-this.md#configuration) have this to say:

[2019-04-25 18:16] rwjblue commented on #702
Seems good to me, any other elements off the top of your head for this?

[2019-04-25 18:22] rwjblue commented on #684
Hehe, I still prefer what I said in https://github.com/ember-template-lint/ember-template-lint/issues/684#issuecomment-480830414:

* arguments
* attributes
* element modifiers
* ...attributes
* block params

[2019-04-25 22:54] mike-north commented on #702
I tried all the whitespace modes I could think of, and only found troubles around `<pre>` (i.e., `<code>` is fine as-is.

[2019-04-25 22:55] mike-north commented on #705
SGTM. I'm seeking alignment, and don't have a preference for where the adjustment is made

[2019-04-25 22:58] mike-north commented on #29
Sounds good. I'm just looking to see that `ember g` outputs aren't "born with problems".

[2019-04-25 23:36] rwjblue commented on #29
We are on the same page, I agree that the emitted blueprints should pass the recommended set of lint rules.

[2019-04-26 03:11] gabrielcsapo commented on #227
Is there any movement on this front? I wrote a couple custom rules for a project and wanted to know how to test them.

[2019-04-26 03:50] gabrielcsapo commented on #227
👋 I might have gotten somewhere. I frankensteined the harnesses in this repo to come up with something like this.

[code]

[2019-04-27 08:52] gossi commented on #684
I'm fine with them @rwjblue :) But have an addition:

- arguments
- attributes
- element modifiers
- ...attributes
- (attributes)
- block params

As the second `(attributes)` here is optional, that is to overwrite splattributes (since order matters), there must a _slot_ where this is allowed: e.g. the linter shouldn't warn, because that is what the intention of this attribute over there is about.

[2019-04-27 09:41] Alonski commented on #684
What category do actions go under? Arguments? I'd like to also have order in arguments then as well

[2019-04-27 10:30] gossi commented on #684
actions are modifiers

[2019-04-29 13:56] rwjblue commented on #684
@gossi ya, allowing attributes after `...attributes` seems fine to me

[2019-04-29 16:48] gabrielcsapo commented on #227
@rwjblue would it make sense to compile this into a helper function people can use?

[2019-04-30 19:42] rwjblue commented on #227
Sorry for the delay here @gabrielcsapo. This issue is for exposing the testing system that ember-template-lint itself uses to rule authors.

The main thing to expose (likely from the root `ember-template-lint` module) is this:

https://github.com/ember-template-lint/ember-template-lint/blob/master/test/helpers/rule-test-harness.js

Then folks can write their own test suites like:

https://github.c

[2019-05-02 07:55] Techn1x opened #708 "no-unbound justification"
https://github.com/ember-template-lint/ember-template-lint/blob/master/docs/rule/no-unbound.md

It seems to be justified by the fact that it no longer offers performance benefits, but the other reason to use the unbound helper is to freeze a value that is rendered.

Are there any other justifications for not allowing unbound? Also, what's the alternative to unbound if I don't want a rendered value

[2019-05-04 16:22] Turbo87 opened #710 "[Rule Idea] Enforce Splattributes"
This rule should check that exactly one element in the template has `...attributes` attached to it.

Alternatively we could make it configurable to only error for multiple `...attributes`, but allow zero and one instances of it.

[2019-05-08 17:44] patocallaghan commented on #261
@psbanka @rwjblue I just came across this issue today.

I'm keen to have this functionality soon-ish so unless there is a PR close to completion I'd like to take a stab at it? Would that be okay?

[2019-05-08 19:14] rwjblue commented on #261
absolutely!

[2019-05-08 19:24] patocallaghan commented on #261
Awesome, I’ll put something together 👍

[2019-05-13 23:21] gabrielcsapo commented on #227
It looks like the only thing that needs to be altered to allow this rule-test-harness to work with other frameworks is decoupling the mocha prescribed globals. I will work on getting this up in PR form and altering the docs after the decided solution gets a 👍

[2019-05-14 15:38] alanlalonde opened #717 "Adding conditional tfoot triggers table-groups validation"
I've built a table with a thead, tbody and conditional tfoot that seems to break the table-groups rule. Here is some sample code.

[code]

Any idea what would cause this to occur? thead and tbody are known to be required by this rule and are already in the table, so I don't know if this is either an edge case or a false positive.

[2019-05-14 20:29] #696 closed

[2019-05-14 20:30] rwjblue commented on #710
Multiple instances of `...attributes` is perfectly valid, any reason you think it should be forbidden?

[2019-05-14 21:54] patocallaghan commented on #261
@rwjblue I finally got around to looking at this and am not entirely certain I'm going the right way about it.

I'm not exactly familiar with the codebase. I was planning on adding something called rules/plugins.js which will essentially operate the same way as rules/index.js and just load and export all the plugins. I then plan on using this within `_isRuleName`. But I'm not exactly sure how to g

[2019-05-15 04:21] Turbo87 commented on #710
seems very confusing to me 🤔

what happens in that case? do they all get the same attributes?

[2019-05-15 09:09] CvX commented on #710
Yeah, the attributes are applied to all elements with `...attributes`.

Here's the mention in the RFC: "It can also be used on multiple elements in the same template." (https://emberjs.github.io/rfcs/0311-angle-bracket-invocation.html#html-attributes)

[2019-05-15 17:26] Turbo87 commented on #710
hmm okay, guess then the rule should only warn if there are no splattributes at all

[2019-05-15 22:46] patocallaghan commented on #261
I've added a WIP spike of a fix in https://github.com/ember-template-lint/ember-template-lint/pull/718. Would appreciate any feedback

[2019-05-16 06:47] meetDeveloper opened #719 "Ember-template-lint won't lint if Doctype is added."
If I add `<!DOCTYPE html>` in the start of file, it will give error
`error  A block may only be used inside an HTML element or another block. `.

My Config file is
[code]
My handlebars template is
[code]

If I remove `!DOCTYPE`, it will properly lint and give me warning that attribute is not wrapped in quotes.

[2019-05-16 06:50] meetDeveloper commented on #719
[It relates to this issue.](https://github.com/emberjs/ember.js/issues/16752)

[2019-05-17 18:55] keanedawg opened #723 "Using block parameters only in a '{{yield}}' still causes "no-unused-block-parameters" to trigger"
I have create a relatively simple component as such...

**component.hbs**
[code]

**full-page.hbs**
[code]

The problem is that I am failing `no-unused-block-params` because `error  'fieldName' is defined but never used`.

However, it is being used. It's just that the linter cannot detect it since it's being inserted into the yield block.

I'm not sure how to work around this. Am I running into th

[2019-05-21 16:56] patocallaghan commented on #261
@rwjblue any thoughts on the approach I used in https://github.com/ember-template-lint/ember-template-lint/pull/718 and how we could properly access the config?

[2019-05-22 12:45] patocallaghan commented on #691
It seems having this rule turned on by default conflicts with the Prettier hbs formatter. I opened an issue over on the Prettier repo to change it but got no response 😄 https://github.com/prettier/prettier/issues/6079

Should we just turn it off as the default in ember-template-lint instead? Whether the change happens here or over there I think the ember-template-lint default settings should try m

[2019-05-22 14:13] rwjblue opened #724 "Drop Node 6 (and Node 11) support."
Will require a major version bump...

[2019-05-22 14:14] #625 closed

[2019-05-24 14:46] ansmonjol opened #726 "[Rule idea] No empty non void elements"
Hello,

I would love to implement a new rule to avoid non-empty void elements in templates.

Something that could lead to raise an error on `<p></p>` or `<div></div>` for example.
Of course nothing would happen on `<p>{{myVar}}</p>` or any void elements (`<br >`).

Do you think it's ok to call this rule `no-empty-non-void-elements` ?

In order to submit an acceptable final MR, do you have some aut

[2019-05-28 22:43] gabrielcsapo commented on #612
Working on an PR to fix this

[2019-05-29 14:36] rwjblue opened #727 "Flesh out require-valid-alt-text rule documentation"
Should explain:

* Usage of `hidden` or `aria-hidden` opts out of the rule (universally)
* Usage of `role="presentation"` or `role="none"` with `<object>` is allowed

[2019-05-29 16:00] rwjblue commented on #726
I don't fully grok the request here, can you update the description to show more good and bad examples?

[2019-05-29 16:02] rwjblue commented on #719
This is ultimately a bug in simple-html-tokenizer / glimmer-vm I believe. Specifically, we need to specially handle `<!DOCTYPE` (or perhaps `<!` is specifically defined in the HTML spec, I'd have to look into it).

[2019-05-29 23:13] #680 closed

[2019-05-30 07:12] lifeart opened #729 "Rule request | No swallowed components"
Main idea - prevent cases like

[code]

Also, we can create rule, disallowing only lowercased components

`<option>` -> not valid component name
`<Option>` -> valid component name
`<ctx.option>` -> valid component name

we can track it by

`ElementNode.blockParams` like `<option as |sub|></option>`
`ElmentNode.attributes` like `<option ...attributes />`
`Block params usage as angle-component` like

[2019-05-30 07:26] lifeart commented on #723
@keanedawg `fieldName` not passed to `yield` in your example.

[code]

[code]

[2019-05-30 07:36] lifeart commented on #717
@alanlalonde can't reproduce it in latest master, could you add failing test case into `test\unit\rules\lint-table-groups-test.js`?

[code]
as good example - working for me

[2019-05-30 19:46] rwjblue commented on #723
Thank you @lifeart, I'm going to close this one as I believe @lifeart pointed out the issue.

[2019-05-30 19:46] #723 closed

[2019-05-30 20:00] rwjblue commented on #729
[code]

Is disallowed by `no-shadowed-elements`.

[2019-05-30 23:00] lifeart commented on #729
I have a leaky head. How I missed that!

[2019-05-30 23:00] #729 closed

[2019-05-31 08:25] ansmonjol commented on #726
Done ! let me know if that's cleat enough :)

[2019-05-31 15:06] rwjblue commented on #726
Gotcha, I was misinterpreting the term "void" in your original post. I typically use the term "void elements" to refer to things like:

[code]

Which apparently are actually called [empty elements](https://developer.mozilla.org/en-US/docs/Glossary/empty_element).

I'd vaguely prefer to avoid confusing my future self by not using `void` in the name here, what do you think about something like `blac

[2019-05-31 17:12] keanedawg commented on #723
Can confirm this is pointed out the issue. Thank you

[2019-06-01 06:40] meetDeveloper commented on #719
@rwjblue Yes, It is a bug in glimmer-vm, as far as I know.

[2019-06-03 09:34] ansmonjol commented on #726
Great ! Thanks for your comment.

I'm a bit afraid by the `blacklist` wording here WDYT ?
I was trying to keep consistency with the `no-` rule name. Also, the 'config' item list is directly inspired from the `lint-self-closing-void-elements` rule.

I propose to rename the config list to `BLOCK_TAGS` and the linter rule to `no-childless-elements` if that sounds good to you ?

[2019-06-03 14:44] rwjblue commented on #726
Seems great!

[2019-06-03 22:00] #227 closed

[2019-06-04 09:55] Windvis opened #731 "`no-invalid-interactive` does not trigger when using the `on` modifier"
The `no-invalid-interactive` rule doesn't throw an error when using the `on` modifier instead of the action helper / modifier.

[code]

[2019-06-04 13:52] rwjblue commented on #731
Yep, we need to fix this! Thanks for reporting!

[2019-06-05 05:49] Alonski commented on #684
@gossi Have you managed to get any work done on this?
Maybe we can pair sometime?

[2019-06-05 14:48] patocallaghan commented on #354
@rwjblue we've came across an instance where having the `template-lint-disable-next-line`, similar to `stylelint-disable-next-line` and `eslint-disable-next-line`, would be extremely useful for us.

Currently where I work we follow a process of when we encounter a best practice, rather than having to refactor all our code at once we'll enable a linting rule to prevent it, but disable it inline for

[2019-06-05 14:59] GavinJoyce commented on #691
I've created a PR to update Prettier to be consistent with the `self-closing-void-elements` rule: https://github.com/prettier/prettier/pull/6179

I believe that prettier for handlebars should be consistent with the `ember-template-lint` defaults.

@duailibe, a maintainer of Prettier, [doesn't seem convinced of this default](https://github.com/prettier/prettier/issues/6079#issuecomment-499114979) h

[2019-06-05 19:14] GavinJoyce commented on #691
mirroring my comment from https://github.com/prettier/prettier/issues/6079#issuecomment-499214576:

[2019-06-05 20:10] rwjblue commented on #354
Hmm, this isn't necessarily true. The rule enabling / disabling is based on natural scoping. For example, this example from the README:

[code]

[2019-06-05 20:34] patocallaghan commented on #354
Yep that's true, but that's not the behaviour I was hoping for. Please correct me if this is wrong 😅

If we take the following contrived example, we have a custom lint to prevent the introduction of `some-deprecated-classname`. We've opted out the existing violation with `{{! template-lint-disable my-plugin/no-deprecated-classname}}`

[code]

But then the next day someone else comes along and adds

[2019-06-05 20:39] MelSumner commented on #691
So it's valid to do both for "void elements"-  `<input type="text" />` AND `<input type="text">` should be equally okay.

However, it's not valid to do `<input type="text"></input>`.

Here's an article: https://www.456bereastreet.com/archive/201005/void_empty_elements_and_self-closing_start_tags_in_html/

[2019-06-05 20:42] rwjblue commented on #691
Right, I don't think we are arguing about if it is or is not valid. This part of the rule is largely stylistic (not error correcting).

[2019-06-05 20:45] rwjblue commented on #691
I'm don't feel mega strongly on this issue, I think ensuring that no separate end tag is present, and that no children exist may be the better default position for this rule. And then we can have config to enforce self closing or not (but not have that be part of the "recommended" config).

[2019-06-05 20:51] rwjblue commented on #354
IMHO, we should be using the `pending` stuff (in `.template-lintrc.js`) for this kind of "gradual lockdown" type thing. The rough selling points are:

* All new templates are authored with the most strict settings.
* Existing templates can't "get worse" by regressing additonal rules (this is why its not "completely ignore").
* The "pending" list gives you a _perfect_ TODO list.
* When a file begin

[2019-06-05 21:07] patocallaghan commented on #354
Oh interesting, I never knew about `pending`. So I guess one downside to the pending/line number combo is if the markup is refactored or moved around rules, would start failing.

We're used to the `disable-next-line` pattern in our .scss and .js files already, but if you are completely against it adding it I can look at the `pending` stuff.

[2019-06-05 21:42] patocallaghan commented on #354
It looks like `pending` emits warnings for each of the violations listed. Unfortunately for our use case this is not a great experience considering we have thousands of these. It also looks like using `pending` they still show up as linting errors in vscode (possibly a bug in ember language server).

![image](https://user-images.githubusercontent.com/685034/58992460-cc369a80-87e2-11e9-9430-3a06e19

[2019-06-09 15:54] ansmonjol commented on #726
Hello @rwjblue, you can find the related PR https://github.com/ember-template-lint/ember-template-lint/pull/735

Please let me know if I forgot anything or something is not clear enough !

[2019-06-11 13:45] #663 closed

[2019-06-12 14:45] MelSumner opened #739 "Deprecate 'img-alt-attributes' rule"
Deprecate 'img-alt-attributes' rule since it's been replaced by a more complete/universal rule, 'require-valid-alt-text'.

[2019-06-12 19:23] rwjblue commented on #587
In #640 @MelSumner mentioned that my suggestion that we should fix this may be incorrect (in other words, the current rule implementation is "correct").

@MelSumner - Can you help me understand why? I'd love to read up in the spec on this, have a link handy?

[2019-06-12 19:36] rwjblue commented on #739
For context, there is already some infrastructure for deprecating rules. I _believe_ that we have to add to something like the following to the `DEPRECATED_RULES` `Map` in `lib/helpers/deprecated-rules.js`:

[code]

[2019-06-12 22:36] MelSumner commented on #587
@rwjblue screen readers can't deal with nested interactive elements, and the `<details>` element was implemented in such a way that the `<details>` element is the one with the event listener (and the interactive bit ) and not the nested `<summary`> element, which would have been a much more reasonable default.

If we can convince spec writers and browser implementors to change this, then the inter

[2019-06-14 11:42] #463 closed

[2019-06-14 11:42] amk221 commented on #666
😭Anything I can do to move this one along?

[2019-06-14 15:34] rwjblue commented on #666
There has been no feedback on https://github.com/psbanka/eslint-plugin-hbs/issues/25 since I opened it. I guess at this point we have to fork eslint-plugin-hbs.

[2019-06-19 14:51] MelSumner opened #746 "Update recommended rule set"
## Primary objectives:

* Remove "style" related rules from the recommended set
* Add Octane related rules to recommended set
* Update list of A11Y rules in recommended set

## Rule Changes

### Add

* no-abstract-roles
* no-action
* no-curly-component-invocation
* no-extra-mut-helper-argument
* no-implicit-this
* no-obsolete-elements
* no-positive-tabindex
* no-unnecessary-component-helper
* requ

[2019-06-19 14:59] MelSumner opened #747 "add new rule: no-forbidden-elements"
- disallow use of meta, style, html and script tags in template files.
- rule should be configurable so teams can add their own disallowed elements

[2019-06-19 15:05] MelSumner opened #748 "add new rule: no-obsolete-attributes"
create a rule that doesn't permit deprecated HTML attributes to be used. See "obsolete features" at https://html.spec.whatwg.org/multipage/obsolete.html

related rule: no-obsolete-elements

Consider: should this rule also include disallowed attributes like `accesskey`?

[2019-06-19 15:27] MelSumner opened #749 "Remove HTML comment config"
remove the long-deprecated HTML comment configuration from the base.js file.

[2019-06-19 16:24] #261 closed

[2019-06-19 20:03] rwjblue opened #751 "Consider using `{{!-- template-lint-disable --}}` vs `{{! template-lint-disable }}` 🤔"

[2019-06-20 12:34] dcyriller commented on #705
I believe this has been fixed in prettier by now: https://github.com/prettier/prettier/blob/1.18.2/tests/glimmer/__snapshots__/jsfmt.spec.js.snap#L63

[2019-06-27 13:51] stephanebruckert commented on #387
In my case I would expect that this is correctly indented:

[code]

but it isn't:

[2019-06-27 14:01] rwjblue commented on #387
Yes, totally agree! Thankfully, we actually have a way to fix this now.

[2019-06-27 14:02] rwjblue commented on #387
@stephanebruckert - Would you mind making a new issue to specifically track that? Perhaps a failing test PR (like [this line](https://github.com/ember-template-lint/ember-template-lint/blob/65e9aa76ce271d6137e5f18de3203b23acfd427f/test/unit/rules/lint-block-indentation-test.js#L50)) even...

[2019-06-27 14:08] stephanebruckert commented on #387
I just found that there is already an open issue about this https://github.com/ember-template-lint/ember-template-lint/issues/120

[2019-06-27 14:59] rwjblue commented on #120
We can fix it now! We need to update our usage of @glimmer/compiler to use the new `mode: 'codemod'` and it will opt-out of converting HTML entities to their underlying thing.

See https://github.com/glimmerjs/glimmer-vm/pull/938 for background on that new parsing mode.

[2019-06-28 11:45] FabHof commented on #691
As far as I see it, disabling 'self-closing-void-elements' by default will solve all problems.
There is already a rule that handles invalid end tags of void elements.

[2019-06-29 02:30] alias-mac commented on #604
Any update on this issue?
We have some examples of using `data-test` helpers to pass the string value of a boolean value.
For example a selected state that we want to confirm in our tests.

I created an example here of the output:
https://ember-twiddle.com/4a6242ed006cc66df799abefe63f476c?openFiles=templates.application.hbs%2C

In our tests we want to use something like `[data-test-selected=false]

[2019-07-03 13:18] Alonski opened #760 "[Feature Request] Add --fix option"
Adding the feature to autofix template lint rule errors would be nice.

We should add the underlying infrastructure so that rules can be autofixed similar to how ESLint does autofixing with --fix.

Related to:
https://github.com/ember-template-lint/ember-template-lint/issues/305

[2019-07-03 14:00] marcoow opened #761 "False positive when app's name is "components""
I just discovered there's a false positive when the app's name is _"components"_:

[code]

This is actually the application route's template but the app happens to be named "components".

Reproduction available here: https://github.com/simplabs/ember-workshop/tree/master/examples/components

[2019-07-04 09:34] patocallaghan opened #765 "[New rule proposal] no-classic-invocation-component"
Recently I created a rule at work to lint against using classic invocation syntax in templates and it seems to work fine. Any thoughts on whether you'd be open to have it contributed back to ember-template-lint? The alternative is to create a separate template rule plugin and open source that.

It currently handles the following cases:

### Bad
[code]

### Good
[code]

Just to point out, for new p

[2019-07-04 14:34] bmish commented on #765
Sounds like a good rule to me! Definitely submit it here.

[2019-07-04 15:23] patocallaghan commented on #765
@bmish cool, I'll submit a PR and we can go from there 👍

[2019-07-09 09:18] patocallaghan commented on #765
@bmish added it here https://github.com/ember-template-lint/ember-template-lint/pull/768

[2019-07-10 14:12] artemgurzhii opened #769 "`no-invalid-interactive` does not work with ember-composable-helpers"
**Correct:**
[code]

**Incorrect:**
[code]
I've not tested this with other `ember-composable-helpers` but pretty sure it will work the same for all of them. I'm not sure whether this should be considered as an issue but would like to receive some comments on what do you think about this.

[2019-07-11 14:51] rwjblue commented on #769
Thanks for reporting! I think the only way to fix this would be to key off of the `onclick=` instead of the `PathExpression` being `action`.

What do you think @bmish?

[2019-07-12 01:08] rwjblue commented on #760
Ya, I'm definitely in favor. I'd like to at least _try_ to leverage the work done in ember-template-lint/ember-template-recast to support "safer" fixers.

The initial rough scope of this would be to:

* Add a hook to the plugin class that folks can implement to handle fixing
* Add a new `--fix` flag to the executable

[2019-07-12 01:09] rwjblue commented on #760
Would definitely love for help experimenting / pushing this forward.

[2019-07-12 06:26] bmish commented on #769
I created a proposed fix in #773. The existing detection based on the `action` helper usage needs to be kept in place, but we can add additional detection that keys solely off DOM event attribute usage like `onclick`.

[2019-07-12 13:48] #769 closed

[2019-07-12 13:53] #739 closed

[2019-07-12 17:37] rwjblue commented on #612
I think this was fixed as part of #261

[2019-07-12 17:37] #612 closed

[2019-07-12 17:39] rwjblue commented on #719
@cvx - Sorry to pester you, but based on your recent work over in simple-html-tokenizer / glimmer-vm I thought maybe you might be willing to poke at this one?

[2019-07-14 15:24] Radioreve commented on #761
I just found out that I had the exact same problem, with an app named `ember-components`. In this [PR](https://github.com/ember-template-lint/ember-template-lint/pull/359/files), the last test to know if it's a route template is :
[code]
Unfortunately, every route in our application will evaluate this to `false`, since `components/` will always be part of every route name. If you create more route

[2019-07-15 08:33] CvX commented on #719
@rwjblue sure! 🙂

@meetDeveloper
1. Can I ask what's the use case for having doctype/`<html>`/`<body>` in a handlebars file?
2. Is probably a typo, but your example is missing the opening `<html>` between the doctype and `<body>` (it doesn't change the error though).

[2019-07-15 09:41] meetDeveloper commented on #719
@CvX We use handlebars with sailsjs, and have doctype to make sure browser handle the page in standard mode.

Missing html opening tag was a typo.

[2019-07-17 06:46] Alonski commented on #684
@gossi Pinging you again to ask if you would be up for working on this together :)

[2019-07-17 06:51] Alonski opened #776 "Ember Template Lint throwing weird errors in CI"

[2019-07-17 06:52] Alonski opened #777 "Ember Template Lint throwing weird errors in CI"
In `ember-file-upload` Travis has started to fail for me because of Template Lint false negatives.

A failing Job: https://travis-ci.org/adopted-ember-addons/ember-file-upload/jobs/559624710

I don't understand exactly why this is happening. Locally everything is linted correctly with the same dependencies.

The errors:
[code]

[2019-07-17 11:41] CvX commented on #719
Are you using those full-html sailsjs templates in ember? (if you do, could you give an example how they are rendered?)
Or are you just using `ember-template-lint` to lint all hbs templates?

[2019-07-19 10:11] marshy2201 commented on #700
Here is the errors that are showing up:

![eslint-errors](https://user-images.githubusercontent.com/20504912/61528038-ba692980-aa15-11e9-83ba-c84285d049ae.png)

[2019-07-20 06:47] meetDeveloper commented on #719
@CvX Yes we are handlebars templates, and then in bootstrap, we compile them and expose them.

[2019-07-22 11:31] 22a commented on #354
@FalkF @rwjblue curiosity got the best of me and I've spiked out what this could potentially look like in https://github.com/ember-template-lint/ember-template-lint/pull/780 let us know what you think, if this is something you'd like to see in ember-template-lint

[2019-07-24 02:52] sukima opened #782 "Unable to use with VIM ALE plugin and other external tools"
Pull Request #607 introduced a breaking change where tools that call ember-template-lint with a temporary file are unable to lint because the glob rules filter out the file.

Example usage: `ember-template-lint /tmp/random-dir/temporary-template.hbs`

A built in tool like [ALE](https://github.com/w0rp/ale) will execute this command because it needs to lint the unsaved buffer.

Possible solutions:

[2019-07-24 16:25] lstrzebinczyk opened #784 "False positive for table-groups"
Hello :wave:

This piece of template:

[code]

Triggers the table groups rule when used via ember-cli-template-lint, and returns me an error:

[code]

However, when I try to add a failing test case here, it accepts it and finds no error.

This happens when I use

[code]

Which I believe to be most recent versions.

[2019-07-25 08:54] bmish commented on #784
I tried the template you provided and there was no lint violation reported for me. You may need to pin `ember-template-lint` to the latest version with a yarn resolution, since `ember-cli-template-lint` is still specifying an older version of `ember-template-lint`.

[2019-07-25 09:33] lstrzebinczyk commented on #784
Ha, I removed `yarn.lock` and forced it to rebuild. When I just `yarn`ed yesterday it had both versions `1.1.0 ` and `1.4.0` in lock, but when it rebuilt completely it settled on `1.4.0` and the problem is solved.

So I guess I'm sorry to bother, as this one was on me; ). Thank you for your time, closing!

[2019-07-25 09:33] #784 closed

[2019-07-25 13:21] efx commented on #776
@Alonski looks like this one is empty so can close since #777 has the details.

[2019-07-25 13:25] efx opened #786 "warn on invalid angle bracket invocation"
Orignally opened in https://github.com/emberjs/ember.js/issues/18178 and here https://github.com/ember-template-lint/ember-cli-template-lint/issues/515. Moving to this repository as it appears the correct home.

As our team has started using angle bracket invocation for components, a few "invalid" patterns have started:
[code]

I consider this bug in the same group as https://github.com/emberjs/em

[2019-07-25 13:29] efx opened #787 "add new rule: no-obscure-hbs"
Originally opened in https://github.com/ember-template-lint/ember-cli-template-lint/issues/437
I have some handlebars syntax in my application that "works", but is "wrong".
[Twiddle](https://ember-twiddle.com/07c76e285823a864ecfd1a59dc754705?openFiles=templates.application.hbs%2C)
[code]

locks and rwjblue proposed adding a template rule to warn/error before any deprecations. ( see [ember-cli disc

[2019-07-25 14:34] Alonski commented on #776
Woops no idea how this happened. Thanks!

[2019-07-25 14:34] #776 closed

[2019-07-25 14:42] efx commented on #776
sure thing; thank you @Alonski !

[2019-07-25 15:52] #761 closed

[2019-07-25 17:09] rwjblue commented on #787
Thanks for reporting! I think we should probably make rules for the individual "issues" that we have, otherwise adding new scenarios will be a "breaking change".

[2019-07-25 17:13] rwjblue commented on #782
I think this is correct, but we do probably want to add a new argument to the CLI to give us the file name (e.g. `ember-template-lint --filename app/templates/components/foo-bar.hbs < /tmp/thing/here`). This is because _some_ of the rules do care about the file name (e.g. `no-outlets-outside-routes`).

[2019-07-25 18:15] rwjblue commented on #700
I believe this was fixed by #762

[2019-07-25 18:15] #700 closed

[2019-07-26 18:32] MelSumner commented on #726
'<div></div>` is pretty common to leave blank for reasons. I'd probably recommend removing that from the disallowed list.

[2019-07-27 11:52] gossi commented on #684
@Alonski sorry, I clicked away the first notification and now just returned from vacation.

I haven't done anything related to this. Sounds interessting to work with a glimmer-ast. Sure, ping me. Will see what's on my plate then and what time allows me to do.

[2019-07-28 04:48] alexdiliberto commented on #777
Seeing issues as well here

[code]

[code]

[2019-07-28 10:26] Alonski commented on #777
Thanks @alexdiliberto
I used Yarn Resolutions to force the version to ^1.4.0 in package.json

[code]

[2019-07-28 10:26] #777 closed

[2019-07-30 17:52] #765 closed

[2019-07-30 17:54] rwjblue opened #789 "Update no-curly-component-invocation config for requireDash in Octane"
This will be a "breaking change", but we should change the default of `requireDash` in no-curly-component-invocation to `false` for the next major version of ember-template-lint.

[2019-07-31 14:57] rwjblue commented on #746
After reviewing with @MelSumner, our current recommendations for a good "recommended" set that satisfies the objectives above are:

### Added

* no-abstract-roles
* no-action-modifiers
* no-curly-component-invocation
* no-element-event-actions
* no-extra-mut-helper-argument
* no-implicit-this
* no-obsolete-elements
* no-positive-tabindex
* no-unnecessary-component-helper
* require-iframe-title
* r

[2019-07-31 23:33] bmish commented on #746
Overall looks good but I have a few questions.

Regarding the additions:

1. My understanding is that the [no-action-modifiers](https://github.com/ember-template-lint/ember-template-lint/blob/master/docs/rule/no-action-modifiers.md) and [no-element-event-actions](https://github.com/ember-template-lint/ember-template-lint/blob/master/docs/rule/no-element-event-actions.md) rules are exact opposites

[2019-08-01 15:04] rwjblue commented on #746
Don't use `action` in templates **at all**, use `{{on}}` 😸

Yes, this is precisely why they are removed. Just like with eslint's recommendations, our "recommended" set should **only** be about "correctness" and not "stylistic opinion".

I absolutely still expect folks to bring these rules themselves or use prettier to enforce the style.

Confirm.

Confirm.

#691.

Confirm.

[2019-08-01 15:28] rwjblue commented on #746
Maybe instead of doing this we should just make another rule (e.g. `no-action`)?

[2019-08-01 16:53] bmish commented on #746
Thanks for the explanations!

Either we could create a new rule or just update the error messages and documentation for the existing rules to suggest `{{on}}`.

[2019-08-01 19:21] rwjblue commented on #705
Closing this in favor of tracking removal of "stylistic rules" as discussed in #746

[2019-08-01 19:21] #705 closed

[2019-08-06 06:10] mydea opened #795 "no-curly-component-invocation breaks with {{#-in-element}}"
After enabling the new (and awesome!) `no-curly-component-invocation` rule, I get this error:

[code]

When using `{{#-in-element}}`. If I remove that, it works again, also if I disable the rule.

[2019-08-06 14:25] rwjblue opened #797 "Add test ensuring new rule setup is correct."
I keep forgetting some of the basic setup work for adding a new rule (thanks to @bmish for catching my mistakes). In order to save us from my forgetfulness we should add a test to ensure this kind of thing doesn't slip.

Basically to assert the following:

* All files under `lib/rules/` (except `base.js` and `index.js`) exist as values in the `lib/rules/index.js` reexport.
* All files under `lib/r

[2019-08-06 14:39] #795 closed

[2019-08-07 11:42] lifeart commented on #797
On it

[2019-08-07 21:39] elwayman02 commented on #514
This same issue exists for HBS comments. The block-indentation rule has no concept of how to treat comments, so if you were to comment out a component block, it would error:

[code]

The middle line errors because it's indented "incorrectly". This should at least be a configurable exception, if not default behavior.

[2019-08-07 22:37] rwjblue commented on #514
Sorry I've missed this, I think ignoring handlebars comments definitely seems good (as a config option).

[2019-08-08 08:12] mydea opened #799 ""octane" preset does not work"
I get `Cannot find configuration for extends: octane`, with this config:

[code]

on 1.5.1. (see #790)

[2019-08-12 01:09] chancancode opened #800 "img-alt-attributes and splattributes"
IMO, this is perfectly valid:

[code]

While we will lose the ability to enforce the rule in this case due to the dynamic nature, it is perfectly valid to delegate the responsibility to the caller.

[2019-08-12 10:49] BillyRayPreachersSon commented on #644
I'm seeing the same issue (using `ember-cli-template-lint` `1.0.0-beta.3`). This passes:
[code]
whereas this fails:
[code]
For reference, the opening `<a` tag is at 34:15. I'm getting the following errors, which are bogus as there is no anchor on line 39, and I cannot move the close tag to before the `{{t}}` helper that outputs the link text (as suggested):
[code]

[2019-08-12 13:27] #800 closed

[2019-08-14 20:21] #799 closed

[2019-08-18 22:16] pgengler opened #804 "Default rules for 'octane' config contain conflicting recommendations"
Using the `octane` config, both the "no-action-modifiers" and "no-element-event-actions" rules are enabled; I'm guessing the idea is to encourage use of `{{on ...}}` but the recommendations for these rules don't get along:

The no-action-modifiers error says to use `onclick`:

While no-element-event-action says to use `{{action ...}}`:

[2019-08-19 00:07] bmish commented on #804
Also suggested in #746. I opened a fix.

[2019-08-20 15:20] rwjblue commented on #804
Sorry about the somewhat bad experience here. Thank you for reporting (and @bmish for jumping on it).

[2019-08-20 22:42] #804 closed

[2019-08-28 21:37] edeis53 opened #813 "Question: Lint a workspace in VSCode?"
When using VSCode workspace with multiple folders/apps, template linting doesn't run, however the .js files are linted properly.
eg.
[code]

I've tried configuring the VSCode eslint extension to lint the entire workspace, the eslint server seems to pickup the config, but template linting doesn't run for the .hbs files.

What additional config is required?
[code]

[code]

**Reproduction**
-Init two

[2019-08-28 23:28] rwjblue commented on #813
Hmm, can you make a demo repo (along with the commands you expect should work, but don't) that I can use to test?

[2019-08-29 03:37] edeis53 commented on #813
Thanks for your attention @rwjblue .

I have made a reproduction of the issue with step-by-step instructions in the README.md here:
https://github.com/edeis53/ember-vscode-templatelint-issue/blob/master/README.md

Let me know if you need any clarification.

[2019-08-29 15:12] rwjblue commented on #813
That reproduction is perfect, thank you!

I haven't stepped through the specific code here but I suspect that the issue is the way we discover the config file. Specifically, we look for configuration ([see here](https://github.com/ember-template-lint/ember-template-lint/blob/333e2eafa634669237c65c5b0ce7c9520bae58f1/lib/get-config.js#L21)) from the current working directory upwards, but in Scenario

[2019-08-30 02:48] edeis53 commented on #813
That's sounds like the right direction. I don't yet have any experience with programming linters or vscode extenions, but if there is any way I can assist, let me know.

[2019-08-30 12:23] rwjblue commented on #760
With the (relatively) recent revamp of ember-template-recast, I'd like to consider using it as the fixing mechanism for rules.

Basically, a rule would indicate that a given error is fixable (something akin to what ESLint rules do), and when the `--fix` option is passed ember-template-lint would:

1) gather the errors (without fixing)
2) run the fixer for each of the rules that had errored (in ser

[2019-08-30 12:34] rwjblue commented on #813
We can probably tweak that `getConfig` function I linked above to accept the filename to be used and attempt to `resolveUp` from that location instead of starting with `process.cwd()` (like we do now). We'd have to gracefully handle when a filename isn't known, or the filename we were given doesn't actually exist on disk (relative to `process.cwd()`) but that seems feasible. One thing I don't want

[2019-08-30 15:03] mehulkar commented on #604
Another way quoted attrs has saved me in the past is when the dynamic value contains a space. AFAIK, I would often see this in hbs that didn’t have quotes: `<div class=foo bar>`, which is invalid.

Off the top of my head, I’m guessing this was pre-glimmer, and that might also be where this advice / general rule comes from.

[2019-08-30 16:25] edeis53 commented on #813
IMHO this test seems like it might be providing coverage:
https://github.com/ember-template-lint/ember-template-lint/blob/1ebbb3820c13224917e3927ecad036d459199910/test/unit/get-config-test.js#L25

Because in addition to the reproduction, I also tried configuring `eslint.workingDirectories` setting in VSCode which sets process.cwd. `get-config.js` looks like it should grab `.template-lintrc` from t

[2019-09-12 07:08] edeis53 commented on #813
@rwjblue solved the issue.

I've installed "Unstable Ember Language Server" `lifeart.vscode-ember-unstable` VSCode extension and template linting works just fine in a workspace with multiple apps/folders.

[2019-09-16 05:07] rwjblue commented on #719
FWIW, I made a PR over at https://github.com/tildeio/simple-html-tokenizer/pull/71 to begin working on the fix for this.

[2019-09-25 14:41] rwjblue commented on #797
I think this was resolved by #798

[2019-09-25 14:41] #797 closed

[2019-09-25 17:24] MelSumner commented on #691
@rwjblue some extra info: https://www.w3.org/WAI/WCAG21/Techniques/failures/F70 It looks like the closing slash should be there.

[2019-09-25 17:53] ygongdev opened #833 "nonexistent plugin rules breaks Linter"
I'm facing an issue where the rules are not working when a plugin is involved.

[code]

If I remove the plugin, the error are triggered as intended. Any ideas on why this is happening would be appreciated :)

[2019-09-25 18:46] ygongdev commented on #833
Ok, there were some `rules` that no longer exists from the plugin. Once those were removed, the `rules` start working again.
I think there should be some sort of error thrown if the rules does not exist?

[2019-09-25 22:29] rwjblue commented on #691
@MelSumner - I believe you are mis-reading this page. It does not say that HTML should have a trailing slash for these void elements (example 6 is **explicitly** about XHTML, not HTML).

[2019-09-26 03:04] ygongdev commented on #833
So the problem seems to be that we require `template-lintrc` by default, but in the case, where one of the `rules` is trying to import from a nonexistent path, there's no error and it will quietly fail
[code]

[2019-09-26 03:18] ygongdev commented on #833
The current workaround seems to be just wrapping the `plugin rules` around a `try catch` so if a invalid `require` is used, it'll actually throw.

[2019-09-26 14:33] ygongdev commented on #833
Actually the error is intentionally being swallowed and we return an empty `{}` instead. Is this intended?
[code]

[2019-09-27 13:06] rwjblue opened #835 "Rule: Disallow {{action}} (both element and helper forms)"
As part of the Octane efforts, we should add a new rule that disallows the usage of `{{action` in any location. This would supersede the usage of `no-element-action` in the `octane` preset.

Bad examples:

[code]

[code]

[code]

[code]

The rule should suggest the usage of `on` for the element modifier form, and `fn` for the helper form.

[2019-09-27 13:17] rwjblue commented on #717
Going to close for now, I _believe_ this was fixed by https://github.com/ember-template-lint/ember-template-lint/pull/791.

[2019-09-27 13:17] #717 closed

[2019-09-27 14:03] rwjblue commented on #833
Hmm. The thing we were trying to avoid there were the module missing errors specifically thrown when the `filePath` is not found (e.g. you have no `.template-lintrc.js` file). It seems like we are **also** swallowing module missing errors when we find the template config but it itself references missing modules.

Definitely a bug. I think the easiest/best solution here would be to use something li

[2019-09-27 15:21] ygongdev commented on #833
Ok now that I know the context, that sounds like a great approach!
I can make a PR for this if you aren't already on it.

[2019-09-27 20:15] #833 closed

[2019-09-30 12:19] dcyriller commented on #760
:wave: I've started to work on this.

[2019-10-02 12:47] buschtoens opened #841 "New Rule: prefer-named-arguments"
Disallow the following:

- `{{this.args.foo}}`
- `{{args.foo}}`: in case `no-implicit-this` is not enabled

Prompt the user to prefer `{{@foo}}`.

But still allow:

- `{{this.args}}`: in case you want to pass through all args to a helper, e.g.
  `{{validate-args this.args}}`

[2019-10-02 13:54] rwjblue commented on #841
👍 I'm definitely in favor, with some tweaks:

* lets call it `prefer-named-arguments`
* `{{this.args}}` should be disallowed (it would just render `[object Object]` AFAICT)
* passing `this.args` to a helper is allowed

[2019-10-08 16:50] larryh commented on #696
Hi,

Was this fixed? Asking because this code in a component template spits out the following error:

`{{on "click" (fn this.toggleAccordions "our-site" "problem")}}`

`Compile Error: Element modifiers are not allowed in components  undefined`

But the code works fine.

[2019-10-08 21:13] rwjblue opened #851 "Running limited set of rules does not work properly."
If you would like to run a limited set of rules against a file, you _should_ be able to do:

[code]

However, due to the fact that the linter sets up _all_ known plugins here we are still running rules that are not supposed to be enabled:

https://github.com/ember-template-lint/ember-template-lint/blob/e10fed889cb6a17fd4d3cffbaa17fbbbbd46e813/lib/index.js#L51-L54

That section above, should be twe

[2019-10-09 13:48] lvegerano commented on #746
Why `no-element-event-actions`? Why `{{on 'click this.someFn}}` is recommended over `onclick={{fn this.someFn}}`?

[2019-10-09 15:45] #572 closed

[2019-10-09 16:36] lifeart commented on #835
I can take it, how we will call this rule?
`deprecations/lint-deprecated-action-helper`?
`no-action-helper`?

[2019-10-09 18:51] rwjblue commented on #746
@lvegerano The [rule documentation](https://github.com/ember-template-lint/ember-template-lint/blob/master/docs/rule/no-element-event-actions.md#no-element-event-actions) has some info here, but a rough summary is that `onclick` has issues in SSR modes, doesn't allow for scenarios where `el.addEventListener` works but `el.onclick = function(){}` doesn't (e.g. `svg` elements, web components, etc).

[2019-10-09 20:53] lifeart commented on #841
allowed cases?

[code]

[2019-10-10 01:33] bmish commented on #835
Note that we have two existing rules:
* [no-action-modifiers](https://github.com/ember-template-lint/ember-template-lint/blob/master/docs/rule/no-action-modifiers.md)
* [no-element-event-actions](https://github.com/ember-template-lint/ember-template-lint/blob/master/docs/rule/no-element-event-actions.md)

I would suggest calling the new rule simply `no-action` to indicate that it's more broad than

[2019-10-10 16:04] rwjblue commented on #835
Agree with @bmish

[2019-10-10 16:06] rwjblue commented on #841
Yes, using `this.args` in a `PathExpression` should be allowed, but only if that is the full path (e.g. `this.args.foo` should be disallowed)).

[2019-10-10 17:09] #782 closed

[2019-10-10 17:39] rwjblue opened #854 "Refactor fixture based tests to use `broccoli-test-helper`'s `createTempDir`"
This will allow the tests to be reasoned about much easier.

For a concrete example, I'd like for this test:

https://github.com/ember-template-lint/ember-template-lint/blob/996456138ed78926b40cf7bba109f281ebbf1e45/test/unit/get-config-test.js#L25-L34

To be rewritten like:

[code]

[2019-10-11 19:57] rwjblue commented on #696
Yep, it was fixed in #709. An update to your `ember-template-lint` version should bring in those (and other) fixes.

[2019-10-11 20:04] larryh commented on #696
Got it. We just discussed this in Ember Discuss. Thanks!

[2019-10-15 14:38] alexdiliberto opened #857 "[BUG] `no-curly-component-invocation` rule throwing unexpectedly"
After enabling this rule, in my template files I'm seeing yielded arguments all throw the corresponding lint error

Example, from a template only glimmer-component:

[code]

[code]

`{{option}}` isn't a component or helper, it's simply a POJO or some raw data passed into the component.

Is it really necessary to whitelist all yielded arguments like this?

---

Versions:

[code]

[2019-10-15 14:50] alexdiliberto commented on #857
some quick debugging, don't really have the time to dig in fully

[code]

[2019-10-15 16:14] rwjblue commented on #746
Updated the description to match the changes in https://github.com/ember-template-lint/ember-template-lint/pull/858. Specifically, replace both `no-action-modifiers` and `no-element-event-action` with `no-action`.

[2019-10-15 16:18] rwjblue commented on #857
This is a tricky one. For a block param, we can't _know_ for sure if it is a component invocation, some text, or heck even a DOM element. The rule does not make any different assumptions about yielded block params at the moment.

We could tweak things a bit so that the rule does not apply to block params when used without any arguments (e.g. `{{foo}}` vs either `{{foo whatever}}` or `{{foo some=th

[2019-10-15 16:26] Turbo87 commented on #857
due to the ambiguity of the curly invocation I'm not a big fan of the `no-curly-component-invocation` rule at all... :-/

but I agree that is should only warn if there are things passed into the component because otherwise it's impossible to know if it's a component or not

[2019-10-15 16:34] alexdiliberto commented on #857
In my case, I actually don't have any single-name components so I can sidestep this by setting `'no-curly-component-invocation': { requireDash: true }` in the config...but obviously not an actual solution for everyone. Thanks for the quick feedback

[2019-10-16 07:31] patocallaghan commented on #857
@alexdiliberto @rwjblue we had the same problem with regards the `requireDash: false` setting and we enable `requireDash: true` and then prevent any non-dashed components with the `disallow` list (we only have a very small number).

`requireDash: true` is the default for the rule but it's turned to `requireDash: false` for the Octane config I believe.

But @rwjblue we could definitely make it smar

[2019-10-16 19:15] rwjblue commented on #857
Very :smile:

[code]

[2019-10-16 21:22] patocallaghan commented on #857
👍 I'll put together a fix

[2019-10-16 21:51] rwjblue commented on #857
That would be awesome, thank you @patocallaghan!

[2019-10-18 14:50] rwjblue commented on #835
Closed by #853

[2019-10-18 14:50] #835 closed

[2019-10-18 14:52] rwjblue commented on #857
Fixed by https://github.com/ember-template-lint/ember-template-lint/pull/861

[2019-10-18 14:52] #857 closed

[2019-10-18 15:00] rwjblue commented on #760
FWIW, I chatted a bit with @dcyriller on this in discord this week. I think we have a rough path forward. I'll try to summarize here:

* Migrate this library to use ember-template-recast as its underlying parser (from `@glimmer/syntax`)
* Add a new optional `fixer` property to the object that is passed to `this.log`.
* Add a new `--fix` flag to the bin script
* When `ember-template-lint --fix **/*

[2019-10-18 15:02] rwjblue commented on #387
I think that #850 should fix many/most of these issues.

[2019-10-18 15:03] rwjblue commented on #704
Closing for now, happy to reopen if my prior comment missed somethign...

[2019-10-18 15:03] #704 closed

[2019-10-18 15:04] rwjblue commented on #602
OK, I think we have a much better thing to say here now. Folks should use https://github.com/ember-codemods/ember-no-implicit-this-codemod.

[2019-10-18 15:04] rwjblue commented on #539
I think this has been addressed, there is now a rule for `no-curly-component-invocations`.

[2019-10-18 15:04] #539 closed

[2019-10-18 15:06] rwjblue commented on #588
Not sure if anyone has had time yet, but I'd definitely love someone to push this forward.

[2019-10-18 15:07] rwjblue commented on #386
Hmm, should we close this in favor of suggesting use of `no-partial`?

[2019-10-18 15:56] patocallaghan opened #863 "New Octane Rule: `only-components-template-colocation`"
Pulled from https://github.com/ember-cli/eslint-plugin-ember/issues/533 which proposes a new set of rules for Octane related best practices

Only use [Component Templates Colocation](https://github.com/emberjs/rfcs/blob/master/text/0481-component-templates-co-location.md)

[code]

If anyone would like to implement this please comment that you'll take it and work away.

[2019-10-19 20:33] lifeart commented on #710
possible cases to not warn:

- if inside template is only `{{` components / helpers
- if inside template there is no HTML tags

should we recommend any ordering for splattibutes (before / after defined attributes)?

[2019-10-19 20:39] lifeart commented on #731
on it

[2019-10-19 20:40] lifeart commented on #731
PR created

[2019-10-21 12:11] Turbo87 opened #867 "New Rule: require-button-type"
It is very easy to forget `type="button"` on `<button>` elements and accidentally create a submit button. I think a rule to enforce the usage of an explicit `type` attribute on buttons might make sense.

@rwjblue thoughts?

[2019-10-21 23:36] rwjblue commented on #710
Ya, we can recommend (I'd prefer to have it at the end by default) but I don't think we can enforce because precise placement is actually quite important.

[2019-10-23 13:51] rwjblue commented on #867
Sure, seems good to me. Some questions:

* Should it be a default rule (when we bump majors)?
* What do we link to as supporting references?

[2019-10-23 13:59] Turbo87 commented on #867
I probably wouldn't make it a default rule. It's fine to skip `type` if you know what you're doing. But if we decide to make it a default I'd be fine with that too.

I don't know about any references, but https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Button explains the `type` attribute quite well IMHO.

[2019-10-23 20:02] lifeart commented on #710
I think this rule should work if component has internal "wrapper" node, or component and "wrapped node inside" (only in this case), other cases looks so complex and our linting may confuse developers.

rule apply exmples:

[code]

[code]

[code]
unsupported cases:

[code]

[code]

[code]

[2019-10-23 21:12] matijaboban commented on #486
hi @rwjblue just wondering is there any update on this issue?

Thanks

[2019-10-24 18:42] lifeart commented on #867
ref: https://github.com/emberjs/ember.js/issues/18232

should this lint rule pass if `...attributes` passed?

[2019-10-24 18:51] lifeart commented on #851
on it

[2019-10-24 19:27] Turbo87 commented on #867
not sure, I think it probably should still set an explicit default value.

[2019-10-24 19:32] lifeart commented on #684
so, final config is:

[code]

?

[2019-10-25 04:21] rwjblue commented on #486
TBH, I think it may work now (after #856). You'd have to test...

[2019-10-26 10:16] gossi commented on #684
@lifeart yes

[2019-10-26 14:48] gmurphey opened #875 "Support `template-lint-enable-ruleset`?"
I have a largish app that's been around a long time and getting everything updated to Octane conventions isn't an update we want to / could do wholesale. It would be awesome, however, to be able to add a rule to newly created templates that would enable linting using a predefined set of rules that could lint against Octane conventions. Thinking we could create custom blueprints to create templates

[2019-10-26 18:58] bmish commented on #875
This idea is similar to #588 which would allow enabling/disabling rules or rule groups on a per-file/folder basis.

[2019-10-28 10:02] mydea opened #881 "Error after updating from 1.5.3 to 1.6.0"
After trying to update, I now get:

[code]

a few times in my Octane app.

My config is like this:

[code]

The error goes away if I switch `extends: 'octane'` with `extends: 'recommended'`.

[2019-10-28 20:47] Panman8201 opened #883 "no-curly-component-invocation mistaking helper usage within angle-bracket component"
[code]

The `no-curly-component-invocation` rule is mistaking the `{{my-helper}}` usage above as a component.

While I could add an exemption to the rule, this is valid usage and IMO should not error anyway.

[2019-10-29 18:53] rwjblue commented on #881
Seems bad 🤔, do you (or does anyone) have a template that causes the issue handy?

[2019-10-29 19:30] alexdiliberto commented on #881
Seeing the same thing here after bumping to 1.6.1, looks like may be related to octane's new default `no-action` rule

[2019-10-29 19:37] alexdiliberto commented on #881
@rwjblue here are a couple templates from an app I work on which causes

[code]

[code]

[2019-10-29 19:41] alexdiliberto commented on #881
@rwjblue removing the following from the 1st template above causes the lint message to go away

[code]

@rwjblue removing the following from the 2nd causes the error to go away

[code]

not sure if that's at all helpful

[2019-10-30 10:33] flashios09 opened #886 "Add support to inline templates(inside ts/js files)"
Hi,
The unstable ember language server(https://github.com/flashios09/ember-language-server/commit/7d3cbc33a4b60b7bf602aad8cfe0b8d316e95178) now supports the linting for inline templates(inside ts/js).
I think that we can move it to the `ember-template-lint`, just extract the inline templates before:
[code]
like this:
- we don't need to use any extra plugin or another linter(eslint ...).
- we don't

[2019-10-30 13:07] rwjblue commented on #875
Ya, I totally agree with the overall goal (though I do think the `pending` system _might_ be a decent fit here also).

I’d to land _something_ like the suggestion here and @bmish’s suggestion (adding an `overrides` system to the config file)...

[2019-10-30 13:15] rwjblue commented on #886
I think it would take a few more changes, but seems _generally_ good to me.

Some things that this will have to address when implemented:

* The bin script globing would have to change (it defaults to `**/*.hbs`)
* Ensure that the reported line and column numbers in all of the reported failures offsets are correct to what is actually in the file
* We’d need to figure out how to parse the JS/TS fil

[2019-10-30 13:31] flashios09 commented on #886
I know about this and i think it can be updated to support inline template too. Just remove/update the *extension* check.

The `searchAndExtractHbs` function works fine with indentation(column, line), you can check the tests here https://github.com/flashios09/extract-tagged-template-literals/blob/master/src/__tests__/searchAndExtract.test.ts

Sorry i didn't get this point, can you explain more ple

[2019-10-30 15:42] rwjblue commented on #881
Awesome thank you for digging @alexdiliberto.

@lifeart - Do you happen to have any time to poke at this? I _think_ it's a bug from https://github.com/ember-template-lint/ember-template-lint/pull/853, but I've not had time to dig into it.

[2019-10-30 17:00] lifeart commented on #881
pathExpression has empty parts if it's `{{this}}`

[2019-10-30 17:41] #731 closed

[2019-10-30 17:49] rwjblue commented on #881
Fixed by https://github.com/ember-template-lint/ember-template-lint/pull/887

[2019-10-31 16:05] mydea opened #889 "no-invalid-interactive cannot be disabled"
When updating to 1.6.2, I run into the following problem:

I have this template:

[code]

Which now (correctly) raises

```error  Interaction added to non-interactive element  no-invalid-interactive```

If I try to disable this:

[code]

I get:

[code]

[2019-11-01 19:22] matijaboban commented on #486
@rwjblue Unfortunately did not do the trick (just tested with 1.7.0).

Still getting the "Handlebars partials are not supported" error.

Example code:
[code]

LInting error returned:
[code]

[2019-11-02 15:31] rwjblue commented on #889
Hmm, is this only about no-invalid-interactive or _all_ rules?

[2019-11-02 16:08] rwjblue commented on #851
Fixed by #870

[2019-11-02 16:08] #851 closed

[2019-11-02 20:14] lifeart opened #894 "Rule request: no-index-component-invocation"
refs: https://github.com/NullVoxPopuli/coc-ember/issues/6#issuecomment-549075135

![image](https://user-images.githubusercontent.com/1360552/68076512-7c2a2700-fdc6-11e9-9a7f-7748a064f607.png)

[2019-11-03 01:19] rwjblue commented on #894
Seems reasonable to me...

[2019-11-03 17:16] #120 closed

[2019-11-04 00:09] #386 closed

[2019-11-04 00:09] rwjblue commented on #588
@bmish - Is this something you are interested in pushing forward?

[2019-11-04 00:11] rwjblue commented on #760
For those following along here, there has been a bit of progress. #873 just landed into the `next` branch (will become v2.0.0 "soon"). Once that is done, we are ready to begin actually prototyping the `--fix` support.

[2019-11-04 00:17] #724 closed

[2019-11-04 00:18] rwjblue commented on #662
This is actually fixed now. I think we _can_ now properly ignore "HTML entity codes" (assuming that is what we want to do).

[2019-11-04 01:21] rwjblue commented on #746
Closed by #899

[2019-11-04 01:21] #746 closed

[2019-11-04 01:36] rwjblue commented on #749
Landed in #844

[2019-11-04 01:36] #749 closed

[2019-11-04 01:43] rwjblue commented on #562
@dcyriller this one seems up your alley (I think this is _exactly_ what https://github.com/dcyriller/ember-template-lint-plugin-prettier is for?)..

[2019-11-04 01:46] rwjblue commented on #495
I think this can be closed now, right @bmish?

[2019-11-04 01:49] rwjblue commented on #285
@initram - Do you think we should close this now that #846 is landed? Not sure that we can do too much more...

[2019-11-04 01:49] rwjblue commented on #186
See https://github.com/glimmerjs/glimmer-vm/pull/985.

[2019-11-04 01:50] rwjblue commented on #187
👋 @ingride 😃

I think this is done now (and the recommended config uses the newer `strict` config by default)

[2019-11-04 01:50] #187 closed

[2019-11-04 01:52] rwjblue commented on #160
Semi-related to https://github.com/ember-template-lint/ember-template-lint/issues/886

[2019-11-04 01:55] rwjblue commented on #70
@MelSumner - Did our recent changes RE: #633 help / hurt / or do nothing here?

[2019-11-04 01:59] rwjblue commented on #284
I wonder if there is a package for parsing `.editorconfig`?

[2019-11-04 05:58] mydea commented on #889
Well, `no-inline-styles` is already disabled in that file and that works fine :)

[2019-11-04 06:28] bmish commented on #495
Can you elaborate on what this is referring to?

[2019-11-04 06:28] bmish commented on #588
I'm interested in this still but unfortunately I don't expect to have time to work on it any time soon.

[2019-11-04 13:29] MelSumner commented on #70
Do nothing- the one we added recently was no tabindex greater than 0.

[2019-11-04 13:31] MelSumner commented on #889
I think it's good that it caught this- you'd need some kind of role on the interactive element.

[2019-11-04 13:55] Panman8201 commented on #883
Looks like the fix #884 was merged and released. Thanks! Closing.

[2019-11-04 13:55] #883 closed

[2019-11-04 14:00] rwjblue commented on #495
Hmm, actually I think I was wrong (RE: this being completed). When I opened it I was thinking that we would replace the many instances of things like:

https://github.com/ember-template-lint/ember-template-lint/blob/daac2672103c0eca6a1b09022677fc08453d96c2/test/unit/rules/lint-block-indentation-test.js#L16-L22

[code]

In favor of something like:

[code]

[2019-11-04 14:24] rwjblue commented on #889
Ya, but that's not exactly what this issue is tracking. A quick recap here is:

* We landing a "breaking bugfix" in `no-invalid-interactive` (https://github.com/ember-template-lint/ember-template-lint/pull/864), to ensure that it checks for `{{on` usage. This is definitely a bugfix (and as such not a "SemVer violation), but it still means @mydea's app can't pass linting.
* There is some sort of fa

[2019-11-04 15:00] rwjblue commented on #702
Somewhat mitigated by #899 (block-indentation is removed from the recommended set), but this should still be addressed.

[2019-11-04 15:23] ro0gr commented on #284
Is that what you are looking for ? - https://www.npmjs.com/package/editorconfig

not sure if that's helpful, but I worked on a POC for editorconfig aware blueprints a while ago https://github.com/ember-cli/blprnt/pull/29/files

[2019-11-04 15:24] rwjblue commented on #901
Similar to #284. I think to move forward we need to be able to parse the `.editorconfig` file, if anyone has the bandwidth I think digging in to take a look at how easy or hard that would be is a great next step.

[2019-11-04 15:33] #702 closed

[2019-11-04 15:41] mydea commented on #889
Yeah, I know - and actually appreciate the rule very much :) We are in the process of refactoring/changing this to be better usable with a keyboard etc., but in the meanwhile it prevents us from updating ember-template-lint :)

[2019-11-04 16:13] rwjblue commented on #284
Yep, thats perfect!

[2019-11-04 20:11] boris-petrov opened #903 "[no-bare-strings] Order in `whitelist` matters"
Having:

[code]

Will show an error when it sees `&times;` because the [implementation](https://github.com/ember-template-lint/ember-template-lint/blob/master/lib/rules/lint-no-bare-strings.js#L236) will first remove the `&` and then won't match `&times;`.

This is *extremely* confusing.

As a side note - can you take a look at [this](https://discordapp.com/channels/480462759797063690/483601670685

[2019-11-04 20:34] rwjblue commented on #903
FWIW, it should try to find the "longest match" first. We should fix the implementation to do that (this will solve most of the scenarios where ordering matters).

[2019-11-04 20:36] boris-petrov commented on #903
@rwjblue - yes, I was thinking that a solution is to just sort the whitelist by length, longest first. I think that will solve the issue.

If you can also take a look at the other point, that would be great.

[2019-11-05 06:02] lifeart commented on #901
https://www.npmjs.com/package/editorconfig

[2019-11-05 13:14] EvgenyOrekhov opened #907 "no-whitespace-for-layout false positives"
[code]

Actual result:

[code]

Expected result: no warnings

[2019-11-05 13:50] rwjblue commented on #907
Thanks for reporting!

[2019-11-05 13:50] rwjblue commented on #907
@MelSumner - Mind taking a look?

[2019-11-05 13:54] rwjblue commented on #903
The thing you were seeing (in the help thread) is due to using `ember-cli-template-lint` which caches the failures to redisplay without recalculating.

[2019-11-05 14:24] boris-petrov commented on #903
Ah, OK, this begins to explain stuff. Where on the file system is this cache?

[2019-11-05 19:59] lifeart opened #909 "Rule request: enforce-component-attributes-naming"
We need consistency around attribute namings, for example we can specify `first name` property as:

[code]

We can introduce common naming strategy, like:

* attributes always should be camelCased, without dashes and hyphens

refs: https://medium.com/better-programming/string-case-styles-camel-pascal-snake-and-kebab-case-981407998841

[2019-11-05 21:04] rwjblue commented on #909
Seems like a reasonable rule to me, though since it is "stylistic" it will likely not be added in the `recommended` or `octane` presets.

[2019-11-05 21:13] bmish commented on #909
We have a similar [route-path-style](https://github.com/ember-cli/eslint-plugin-ember/blob/master/docs/rules/route-path-style.md) rule (currently limited to enforcing kebab-case naming but configurability could be added if desired) in eslint-plugin-ember that you could reference.

[2019-11-06 12:10] initram commented on #285
I think we should close this now. If anyone feels that it is insufficient, then a new issue can be created (or this can be reopened)

[2019-11-06 14:18] #285 closed

[2019-11-07 17:39] gojefferson opened #912 "Improve documentation of require-valid-alt-text"
The documentation should say which words are blacklisted if the rule is actually just using a blacklist.

Fix:
https://github.com/ember-template-lint/ember-template-lint/pull/911

[2019-11-08 14:23] rwjblue opened #914 "`no-bare-strings` should consider literals in mustaches (e.g. `{{"foo"}}`)"
When the `no-bare-strings` rule is enabled, the following is not allowed:

[code]

The rule should **also** prevent:

[code]

[2019-11-09 12:43] lifeart commented on #914
how about this?

[code]

[2019-11-11 15:37] rwjblue commented on #912
Closed by #911

[2019-11-11 15:37] #912 closed

[2019-11-11 16:06] rwjblue commented on #914
Component arguments are not validated by `no-bare-strings`.

[2019-11-11 17:40] lifeart commented on #903
in theory, https://github.com/ember-template-lint/ember-cli-template-lint/blob/master/broccoli-template-linter.js#L61

[2019-11-11 18:09] boris-petrov commented on #903
I see. Because I literally grepped my whole file system trying to find where that cache was and couldn't. Well, no matter, I'm glad I'm not crazy. :)

Thanks for the support and for fixing this!

[2019-11-12 05:29] lifeart commented on #760
eslint ref: https://eslint.org/docs/developer-guide/working-with-plugins#processors-in-plugins

[2019-11-12 16:49] tschoartschi commented on #662
Is this fixed also for `ember-cli-template-lint`? What's the way to go if we want to ingore `&nbsp;`?

Thanks for the info 🙂

[2019-11-12 23:24] #903 closed

[2019-11-13 07:10] tschoartschi commented on #662
Just in case someone experiences the same problems with the following configuration it works with the following configuration:

[code]

The trick here is, that I need to remove the `;` from the HTML entities. So instead of using `&nbsp;` I just use `&nbsp`.

[2019-11-13 16:09] alexdiliberto opened #922 "Template number literal `Cannot read property 'length' of undefined` (glimmer-engine)"
Seeing this error when using a raw number literal as an assigned argument property in my template.

[code]

[code]

`@animationDelay={{300}}` is causing the issue here, removing that line makes the error go away

Here's my `.template-lintrc.js` file

[code]

[code]

Let me know if more information is necessary to reproduce.

[2019-11-13 16:24] boris-petrov commented on #662
@tschoartschi - this is due to [this bug](https://github.com/ember-template-lint/ember-template-lint/issues/903) which has been fixed so in the next version what you wrote won't work. Keep in mind that.

[2019-11-14 15:27] alexlafroscia commented on #922
The issue comes from the `no-action` rule: the following configuration does _not_ cause the warning I was seeing when enabling the whole `octane` set of recommended rules.

[code]

[2019-11-14 15:34] alexlafroscia commented on #922
I'm working on a PR to fix!

[2019-11-14 16:49] #922 closed

[2019-11-14 17:00] MelSumner opened #924 "New Feature: allow multiple presets"
Allow multiple presets to be included, so we can make multiple recommended sets.

Example: I'd like to make a a11y-strict preset, which will check for a lot more things and is a lot more strict about how things are done.

This will also require tags/meta data to be added to each rule, to define which preset it belongs to.

[2019-11-14 17:25] Turbo87 opened #925 "Disable `no-curly-component-invocation` rule in `octane` configuration"
The `no-curly-component-invocation` rule in the `octane` configuration is creating a lot of false positives as it has no knowledge of what is a helper or component and in some cases it also flags regular `{{foo}}` values as components.

To avoid this unnecessary noise for Octane users we should disable the rule until we figure these issues out.

The second issue is clearly a bug, the first one can

[2019-11-14 17:39] lifeart commented on #925
@Turbo87  try define `ember-template-lint` dependency for app, (with ember-cli-template-lint)
ember-cli-template-lint has old version, after adding "upsteam" `ember-template-lint` into dev-devs, issue fixed

![image](https://user-images.githubusercontent.com/1360552/68881749-c5f80300-071e-11ea-91b7-fd7c72cacd42.png)

![image](https://user-images.githubusercontent.com/1360552/68881773-d4461f00-071e

[2019-11-14 17:39] lifeart commented on #925
@rwjblue @Turbo87 I think we need new `ember-cli-template-lint` version

[2019-11-14 17:43] lifeart opened #926 "Rule Request: No arguments for html elements"
For template:

[code]

we have such error:

[code]

This is creepy and untracable (for end-users), I think we can guess (is it component or not) and emit error if argument assigned to lowercased element without same block name and without dots in notation.

https://codesandbox.io/s/my-app-m9s63?fontsize=14&hidenavigation=1&theme=dark

Disallow:
[code]

Allow:
[code]

[2019-11-14 18:10] lifeart commented on #925
more context:

![image](https://user-images.githubusercontent.com/1360552/68883962-2be68980-0723-11ea-8e8e-1951044e22c8.png)

[2019-11-14 18:21] lifeart commented on #925
In theory, we can extract lookup part of lookup logic from `ember-language-server`, and load all helpers. (including deps) :)

[2019-11-14 19:40] rwjblue commented on #926
Seems good, lets do it!

[2019-11-14 19:42] jenweber commented on #926
I also opened an issue in Glimmer https://github.com/glimmerjs/glimmer.js/issues/226 to improve the error message.

[2019-11-14 21:51] patocallaghan commented on #925
@Turbo87 For differentiating between helpers and components you need to whitelist your helpers. The rule will throw on any curly expression by default https://github.com/ember-template-lint/ember-template-lint/blob/master/docs/rule/no-curly-component-invocation.md#whitelisting-helpers

But I agree that the out-of-the-box experience is a bit 😱

[2019-11-15 16:23] rwjblue commented on #925
Can we discuss these false positives a bit more? Are you primarily seeing helpers that are invoked and appended to the DOM directly (IMHO these are _fairly_ rare)? Something else?

At this point, I'd prefer to focus on reducing false positives as much as possible, I'm not opposed to disabling for the octane preset if we can't make it an acceptable experience.

[2019-11-15 16:38] Turbo87 commented on #925
some examples of false positives:

[code]

[code]

[code]

[code]

as I mentioned above, I would consider the second two cases bugs. they have no `this.` or `@`, but I think we still shouldn't be flagging every single curly as a component by default 🤔

the first two cases are common helpers from `ember-svg-jar` and `ember-intl`, we could adjust our whitelist, but I'd prefer to use the mentioned he

[2019-11-15 18:45] rwjblue commented on #925
I think this is fine, but it isn't that we are assuming it is or isn't a helper. It's more that components (or helpers!) that accept positional params can't be converted to angle bracket invocation anyways.

I think these two scenarios can be finessed. Specifically, we could treat ambiguous non-block mustache statements (those without arguments) as property lookups and not assume they are componen

[2019-11-15 19:20] Turbo87 commented on #925
yep, that would be fine by me. I think it's fine to have a strict mode where you explicitly specify your helpers etc., but the default should avoid most unnecessary noise IMHO.

[2019-11-15 19:31] rwjblue commented on #925
Yep, I totally agree, this is my stance as well. We just need bug reports when we aren't hitting that mark. :smile:

[2019-11-15 21:55] patocallaghan commented on #925
So what's the consensus here? To make the two fixes above and have an opt-in strict mode? I'd be happy to do the work if so.

1. Do not flag invocations with positional params (straight forward to understand)
2. Do not flag ambiguous mustaches as component invocations (in this context what does ambiguous look like?)
3. Introduce a strict mode. Is this a config option? And does opting into it disab

[2019-11-17 08:37] richard-viney opened #928 "Error in no-action rule when passing number literals"
In `ember-template-lint@1.8.2` this template:

[code]

Gives the error:

[code]

It's coming from the `no-action` rule introduced in 1.6, earlier versions of this package are fine, and disabling the `no-action` rule also makes the error go away. If the attribute value is changed to be a string rather than a number literal then there's also no problem, but of course the passed value is then not a n

[2019-11-17 15:31] rwjblue commented on #914
Closed by #920

[2019-11-17 15:31] #914 closed

[2019-11-17 16:24] rwjblue commented on #925
@patocallaghan - Thanks for offering to work on it!

I think these two are "ready" for implementation work:

Then we can see where things settle and decide if we need another config option for strict (it's still not 100% clear what this would mean, so fixing the first two would help clarify).

Ambiguous specifically means:

A `MustacheStatement` (does not apply to `BlockStatements` as they are nev

[2019-11-17 17:24] rwjblue commented on #928
Maybe you meant 1.8.1? I released 1.8.2 roughly 7 hours after you opened this issue....

I think this was fixed by in #923 and released in v1.8.2, can you double check version and let us know?

[2019-11-17 20:57] richard-viney commented on #928
Apologies, that must have been a typo in the patch version there. It works perfectly in the new v1.8.2. Thanks.

[2019-11-17 20:57] #928 closed

[2019-11-18 23:29] mehulkar opened #936 "Allow severity levels for rules"
I am trying to make a rule a warning, but not sure how. I tried these:

[code]

[2019-11-19 15:12] tschoartschi commented on #662
@boris-petrov thanks for the link 🙂 does that mean that I can just use `&nbsp;` in future?

[2019-11-19 15:14] boris-petrov commented on #662
Not only you can, but you *should*. If you update to the latest version as of right now, your configuration won't work because the bug has been fixed. You'll have to put the `;` in `&nbsp;`.

[2019-11-19 19:30] mehulkar opened #939 "Allow setting no-action rule to `warning` severity"
Not entirely clear if I'm doing this right (#936), but I was unable to set the warning level for the `no-action` rule to Warning severity. I think a `parseConfig` needs to be implemented for the rule? Or something in the constructor of that rule class to set the severity? I couldn't figure out any other examples of Warning severity except for *modules* being set as "pending".

[2019-11-19 22:53] rwjblue commented on #662
Yep! Thanks for reporting @boris-petrov!

Closing now (since its fixed...)

[2019-11-19 22:53] #662 closed

[2019-11-20 00:26] mehulkar opened #940 "Allow on "load" and on "error" modifiers for img tags"
The `no-invalid-interactive` rule currently throws for this code in 1.8.2. I think this should be allowed?

[code]

Looking at the lint rule, there are exceptions for the `onload` and `onerror` attributes, so I think the modifer version of this could also be added.

https://github.com/ember-template-lint/ember-template-lint/blob/v1.8.2/lib/rules/lint-no-invalid-interactive.js#L114-L117

[2019-11-21 02:14] rwjblue commented on #940
Yep, seems like a good bugfix to me.

[2019-11-21 19:15] MelSumner opened #942 "add `a11y-strict` config"
Add a config that turns on all of the A11y-related linting rules.

[2019-11-21 19:18] MelSumner opened #943 "add meta information to rules"
For each rule, some meta information is needed:

- category (1)
- tags (0-many)

This will help with automating presets and some other future features.

[2019-11-21 20:17] rwjblue commented on #901
This was resolved in #918 / #906, and is released in 2.0.0-beta.2.

[2019-11-21 20:17] #901 closed

[2019-11-21 20:18] rwjblue commented on #284
I believe that this was resolved in #918 / #906, and is released in 2.0.0-beta.2.

[2019-11-21 20:18] #284 closed

[2019-11-21 20:21] rwjblue commented on #789
Closed by #790

[2019-11-21 20:21] #789 closed

[2019-11-21 23:03] lifeart commented on #940
on it

[2019-11-22 16:27] rwjblue opened #948 "Add validation that all files in `lib/config/` have been reexported in `lib/config/index.js`"
The current implementation was added in https://github.com/ember-template-lint/ember-template-lint/pull/798, we need to add `lib/config/index.js` validation to that setup. This is basically the same as the validation that we do for adding a new rule, but for configs.

[2019-11-22 16:36] rwjblue commented on #943
Also need to add:

* short description
* link to docs page
* suggested config (e.g. should you use `true`, `'whatever'`, etc)

[2019-11-22 16:45] MelSumner opened #949 "Cleanup: remove `lint-` prefix from rules."
We know it's linting, we don't need the prefix.

[2019-11-22 16:47] rwjblue commented on #943
Suggested structure:

[code]

[2019-11-22 16:47] rwjblue commented on #943
@bmish / @Turbo87 / @dcyriller - Thoughts?

[2019-11-22 17:12] bmish commented on #943
Looks pretty good. Can we aim to match the eslint rule properties/structure as much as possible? That would make it easier for eslint rule authors to author these template lint rules. And perhaps even allow us to take advantage of eslint tooling like eslint-plugin-eslint-plugin which lints eslint rules.

[2019-11-22 19:29] rwjblue commented on #949
:thumbsup: this has been annoying for a long time :smile:

[2019-11-22 20:46] #924 closed

[2019-11-22 22:23] danwenzel commented on #813
@edeis53 @rwjblue - Correct me if I'm wrong, but I believe this is still broken if you do not have a `.template-lintrc.js` file at the package level.  We have one only at the root of the monorepo, and vs code doesn't seem to be showing errors

[2019-11-22 22:52] edeis53 commented on #813
I believe that's true. It's an issue with the Ember Language server extension for VScode, instead use the "Unstable Ember Language Server" from `lifeart.vscode-ember-unstable` extension instead. It's a fork and has a lot of improvements that from what I've heard will eventually be merged into the original Ember Langauge Server.

[2019-11-22 22:54] danwenzel commented on #813
@edeis53 - sorry, I wasn't clear:  Even when using the unstable ember language server, vs code template linting is not working when I only have a template-lintrc file at the root of the monorepo

[2019-11-23 08:52] dcyriller commented on #924
Would it make sense to extract a11y-related rules in a plugin. Users could have a config akin to:
[code]
where `strict` and `all` would be sets in the external plugin.

[2019-11-23 09:06] dcyriller commented on #562
It is done exactly for that! We use it in our apps to make sure our templates are always formatted with Prettier (with a job in CI). Thus, we notice bugs and improvements to be made in Prettier.

When a Prettier upgrade introduces a bug in a a file, either we add that file to `.prettierignore` or we delay Prettier upgrade until the bug has been fixed.

[2019-11-23 23:04] Turbo87 commented on #949
yes, please! 😅

[2019-11-23 23:06] Turbo87 commented on #939
I don't think a "severity level" is currently supported by ember-template-lint 🤔

[2019-11-23 23:07] Turbo87 commented on #936
I don't think a "severity level" is currently supported by ember-template-lint 🤔

[2019-11-23 23:07] Turbo87 commented on #939
closing in favor of #936

[2019-11-23 23:07] #939 closed

[2019-11-23 23:55] mehulkar commented on #936
That’s good to know! I thought I was doing something wrong. It should be
possible to make that happen though, given that “severity” is a thing and
that pending modules spit out warnings!

On Sat, Nov 23, 2019 at 3:07 PM Tobias Bieniek <notifications@github.com>
wrote:

--

------
Mehul Kar
@mehulkar

[2019-11-23 23:57] Turbo87 commented on #936
actually, I just saw some commits on the `next` branch about severity levels, so this might become a feature quite soon :)

[2019-11-24 00:10] mehulkar commented on #936
Updated the title to ask for the feature rather than just documentation

[2019-11-24 02:27] bmish opened #953 "Create an easier migration path for stylistic linting in v2 release"
### Context
In the upcoming v2.0 release, the stylistic lint rules will be removed from the recommended configuration (as mentioned in #746), so that prettier for templates can take over responsibility for template styling.

### Problem
This is a pretty huge change, probably the most disruptive change slated for the v2 release, and could cause upgrade difficulties because:
1. It requires consumers

[2019-11-24 16:50] dcyriller commented on #953
Related: https://github.com/ember-template-lint/ember-template-lint-plugin-prettier/pull/52

[2019-11-24 20:22] bmish commented on #953
@dcyriller your change (having ember-template-lint-plugin-prettier disable the conflicting stylistic rules) looks excellent to me.

@rwjblue @MelSumner @Turbo87 thoughts about re-enabling our own stylistic rules in the recommended configuration as described in my proposal?

[2019-11-24 21:34] Turbo87 commented on #953
@bmish your reasoning makes sense to me. we should try to not let those two code styles drift apart too much though. I'm generally okay with either solution.

[2019-11-26 13:20] patocallaghan commented on #925
@rwjblue I've finally got some time to work on these fixes. I just have a clarification question.

We previously shipped a fix in https://github.com/ember-template-lint/ember-template-lint/pull/861 which implemented the following logic:

So this slightly contradicts the feedback above (or maybe it doesn't 🤔)

Does the change I'm making here, `Do not flag invocations with positional params` apply t

[2019-11-29 15:01] velrest opened #961 "Support external output formatters (eslint style)"
###  `--format -f <format_or_package_path>`

In addition to the `--json` flag i would implement a `--format -f <format_or_package_path>` flag.
If unset the output is the standard human readable text output and `--json` would then be a alias for `--format json`.

If the passed path is a js file / node_module we would import it and assume the default import is a function which takes the errors objec

[2019-11-29 19:21] Turbo87 opened #962 "New Rule: `no-passed-in-event-handlers`"
It is possible to pass e.g. `@click` to an Ember component to override the default `click` event handler. For tagless components this will trigger an assertion though and can't be used as legitimate API, and for Glimmer components it will not work out of the box like in Ember components either.

I would like to propose a new rule, `no-passed-in-event-handler`, that scans potential component invoca

[2019-11-29 19:23] #385 closed

[2019-11-29 19:23] #867 closed

[2019-11-30 10:05] Turbo87 commented on #949
resolved by #957

[2019-11-30 10:05] #949 closed

[2019-11-30 12:11] Turbo87 commented on #708
you can always do something like `this.set('unboundValue', this.boundValue);` in the constructor of a component if you don't want it to change while the component is rendered

[2019-11-30 12:29] Turbo87 commented on #669
@Redsandro is this still an issue? seems to work without issues for me 🤔

[2019-11-30 12:31] Turbo87 commented on #666
closing this in favor of https://github.com/ember-template-lint/ember-template-lint/issues/886

[2019-11-30 12:31] #666 closed

[2019-11-30 12:35] Turbo87 commented on #654
@kiwiupover I don't understand this. Can you give an example of the pattern that the new rule should warn about?

[2019-11-30 12:40] Turbo87 commented on #562
since https://github.com/ember-template-lint/ember-template-lint-plugin-prettier is solving this issue I'll go ahead and close this. thanks for working on it @dcyriller! 🎉

[2019-11-30 12:40] #562 closed

[2019-11-30 14:05] #948 closed

[2019-11-30 17:37] #962 closed

[2019-12-01 20:48] #925 closed

[2019-12-01 21:19] Turbo87 commented on #44
@viniciussbs https://github.com/ember-template-lint/ember-template-lint/pull/950 implemented exactly that :)

[2019-12-04 15:22] rwjblue commented on #943
Ya, I copied the above snippet (with small modifications) from eslint's guides.

[2019-12-04 17:24] rwjblue commented on #961
I'm not sure what the exact implementation would look like, but it definitely seems like a good idea to me.

[2019-12-04 19:40] MelSumner commented on #940
Thank you for fixing the issue @lifeart :+1:

[2019-12-04 19:40] #940 closed

[2019-12-04 19:41] MelSumner commented on #943
@bmish do you think that the suggested structure from @rwjblue reflects what you had in mind by matching the eslint rule structure? I'd like to start working on the issue. Thank you!

[2019-12-04 19:43] Turbo87 commented on #943
maybe we should replace `recommended` with a more detailed data structure that also supports other presets? 🤔

[2019-12-05 08:49] abel-n opened #981 "no-invalid-interactive and ARIA-role `grid`"
According to [MDN web docs](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Grid_Role) an interactive table-like (or, better said, grid-like) widget with two-dimensional navigation should have the role `grid` but I don't see that in [is-interactive-element.js](https://github.com/ember-template-lint/ember-template-lint/blob/ef3cd10b6a9e1017ceb33e06f16ed30a3c585c9e/lib/helpers/

[2019-12-05 09:02] Turbo87 opened #982 ""Rule not found" reported as "Rule is not a constructor""
I've forgotten to `yarn install` after CI updated the dep to v2.0.0-beta.3 and was still on v2.0.0-beta.2. When I tried to enable the `require-button-type` rule and ran `yarn lint:hbs` I was seeing error messages like this:

[code]

I'm not sure if this is a regression in v2.0.0 or if `master` has the same behavior, but we should display a better error message if a rule does not actually exist 😉

[2019-12-05 09:58] boris-petrov opened #983 "[1.9.0] error Cannot use 'in' operator to search for 'max' in true undefined"
The new `no-multiple-empty-lines` rule outputs an error when enabled:

[code]

[2019-12-05 14:59] rwjblue commented on #981
Ya, we got the original list of roles from [here](https://www.w3.org/TR/wai-aria-1.1/#widget_roles), but it looks like we didn't include the roles for composite widgets.

Would love a PR fixing.

/cc @MelSumner

[2019-12-05 15:00] rwjblue commented on #982
Ya, totally agreed.

[2019-12-05 15:00] rwjblue commented on #983
Is there anything special in `foo.hbs`?

[2019-12-05 15:04] rwjblue commented on #983
Looks like there is no config normalization in that rule (it is a new addition), so when you specify `true` as a config value it throws this error:

https://github.com/ember-template-lint/ember-template-lint/blob/master/lib/rules/no-multiple-empty-lines.js#L24

We need to update `no-multiple-empty-lines` to implement `parseConfig` to normalize `true` to ` { max: 1 }` (then that `in` check can be r

[2019-12-05 15:09] amk221 commented on #982
`require-button-type` is my new favourite rule.

[2019-12-05 15:20] rwjblue commented on #982
He was using a version of ember-template-lint that didn't have it yet, this issue is reporting that our error messages for missing rules (e.g. when you specify a config manually for a rule that we can't find) is horrible.

[2019-12-05 15:34] amk221 commented on #982
Right yes, my bad. I had the wrong version.

[2019-12-05 16:44] Turbo87 commented on #983
ouch! sorry about that. I'll have a look.

[2019-12-05 18:43] #983 closed

[2019-12-06 04:55] bmish commented on #943
eslint's `type` meta [property](https://eslint.org/docs/developer-guide/working-with-rules) is a useful one to include too.

Would it be worth including a `docs` object to contain some of the properties like eslint has? Wondering if we should just exactly match that or if @rwjblue prefers to flatten it?

[2019-12-06 15:00] rwjblue commented on #943
Yeah, I vaguely preferred to flatten it, but I don't really mind if we just use their exact schema either.

[2019-12-09 17:56] MelSumner opened #989 "Replace whitelist/blacklist references"
Replace instances of whitelist & blacklist with more inclusive alternatives. Suggest "allowed" and "disallowed".

[2019-12-09 17:57] MelSumner opened #990 "Update recommended list"
The recommended list is out of date and should be re-evaluated.

[2019-12-09 18:14] MelSumner opened #991 "Deprecate `img-alt-attributes`"
Deprecate `img-alt-attributes` in favor of `require-valid-alt-text`.

[2019-12-09 18:15] MelSumner opened #992 "Deprecate `self-closing-void-elements`"
Deprecate `self-closing-void-elements` (as previously discussed) due to conflicts with prettier.

[2019-12-09 19:46] bmish commented on #991
Done already here: https://github.com/ember-template-lint/ember-template-lint/pull/900

[2019-12-10 16:24] #991 closed

[2019-12-12 14:50] MelSumner commented on #990
I see this was updated in #897 so closing this issue.

[2019-12-12 14:50] #990 closed

[2019-12-12 14:50] #992 closed

[2019-12-12 20:37] MelSumner opened #995 "update no-invalid-meta for 2.0"
update rule to prep for 2.0

- remove deprecated rule (`no-meta-redirect-with-time-limit`)
- add updated rule ('no-invalid-meta') to recommended

[2019-12-13 04:54] Turbo87 commented on #889
@mydea I tried to reproduce this with the template you provided and with v1.6.2 the `{{! template-lint-disable no-inline-styles no-invalid-interactive }}` comment seems to work fine for me 🤔

I also tried this on the v2 beta release and there it works too.

Can you come up with a reproduction in a fresh `ember new` app that you can share?

[2019-12-13 05:32] Turbo87 commented on #587
looks like we need a decision here... :D

@rwjblue any thoughts on the reasoning above?

[2019-12-13 05:45] Turbo87 opened #1003 "no-curly-component-invocation: False positive for block invocation with inverse block"
Example:

[code]

Component invocations with inverse blocks can't be converted to angle bracket components because inverse blocks with angle bracket components are not a thing that is supported or even exists at all.

[2019-12-13 05:47] Turbo87 opened #1004 "no-curly-component-invocation: False positive for block invocation with positional parameter"
Example:

[code]

[2019-12-13 09:00] mydea commented on #889
I just tried again on 1.10, and it works now! Not sure if/what has changed though :thinking: Anyhow, thanks for looking into it!

[2019-12-13 09:00] #889 closed

[2019-12-13 09:07] Turbo87 commented on #751
isn't that the same thing from the AST perspective? 🤔

[2019-12-13 09:10] Turbo87 commented on #669
I'll close the issue for now. if this is still an issue please let us know.

[2019-12-13 09:10] #669 closed

[2019-12-13 09:11] Turbo87 commented on #841
looks like @lifeart resolved this with #865

[2019-12-13 09:11] #841 closed

[2019-12-13 16:50] #907 closed

[2019-12-13 16:59] #982 closed

[2019-12-13 17:11] rwjblue commented on #587
I think we need to test this in practice with one or two screen readers to see what they actually do. I still think that I would expect the detail itself to be allowed to have interactive content, so I'd like to see if they do actually break / do a bad thing.

[2019-12-13 17:17] rwjblue commented on #1003
Yep, agree we should also not flag these.

[2019-12-13 17:17] rwjblue commented on #1004
Yep, we fixed the `MustacheStatement` form but not the `BlockStatement` form. :+1: on fixing.

[2019-12-13 17:19] #1003 closed

[2019-12-13 17:19] #1004 closed

[2019-12-13 17:26] rwjblue commented on #751
Yes, but not _quite_. Also prettier prefers `{{!--` IIRC (@gavinjoyce made an issue somewhere about this?).

[2019-12-13 17:44] #29 closed

[2019-12-16 14:12] #751 closed

[2019-12-16 16:09] MelSumner commented on #587
The `<details>` element is interactive and can't have interactive elements inside of it- breaks things for a11y. Here's an article that will hopefully help shed more light: https://daverupert.com/2019/12/why-details-is-not-an-accordion/

[2019-12-16 16:52] Turbo87 commented on #587
hmm, from that article it sounded more like the `<summary>` element is the interactive one 🤔

[2019-12-18 20:22] kategengler opened #1020 "Zero-width character in file caused incorrect failures for rule `no-quoteless-attributes`"
After the zero-width character (U+2028), many html elements reported on the rule `no-quoteless-attributes`, such as

`87:21  error  Attribute class should be either quoted or wrapped in mustaches  no-quoteless-attributes` which was
`<address class="foo-bar">`, clearly correct.

Looking into it a bit, it seemed `sourceForNode` was returning incorrect lines as the source for  the node (but the node

[2019-12-18 20:24] rwjblue commented on #1020
I think that sourceForNode should probably be updated to ensure that it returns the correct value here, though at the moment I am not 100% sure what is going on yet.

[2019-12-20 14:36] rwjblue commented on #587
Agreed. I still think testing in actual screen readers is useful here.

[2019-12-21 15:15] Turbo87 opened #1026 "no-curly-component-invocation creates false positives with default `octane` preset"
The `octane` preset is using `'no-curly-component-invocation': { requireDash: false }`, which appears to cause a lot of false positives:

[code]

[2019-12-23 16:03] rwjblue commented on #1026
@Turbo87 - All of those examples should have _also_ printed an error for [no-implicit-this](https://github.com/ember-template-lint/ember-template-lint/blob/master/docs/rule/no-implicit-this.md).

[2019-12-23 16:05] rwjblue commented on #1026
Also, if those paths were not flagged by `no-implicit-this`, can you file a bug about that specifically?

[2019-12-23 16:11] Turbo87 commented on #1026
they very likely were flagged, but I disabled that rule, because I hadn't run the corresponding codemod on the code yet.

[2019-12-23 16:13] rwjblue commented on #1026
Gotcha, this bug report makes much more sense now. 😸

[2019-12-23 18:28] boris-petrov opened #1030 "no-passed-in-event-handlers should not warn on the built-in input component"
[code]

This gives an `Event handler methods like ``keyPress`` should not be passed in as a component arguments  no-passed-in-event-handlers` warning while it shouldn't - there is no other way to pass an event handler to the built-in `input` component.

[2019-12-23 18:32] lifeart commented on #1020
may be related: https://github.com/ember-template-lint/ember-template-lint/issues/387

[2019-12-23 18:33] lifeart commented on #1030
@boris-petrov try angle-bracket style for `input`

[2019-12-23 18:37] boris-petrov commented on #1030
@lifeart:

[code]

This gives the same warning.

[2019-12-23 18:37] lifeart commented on #85
@Turbo87 @rwjblue should it be splitted to 2  requests? https://github.com/ember-template-lint/ember-template-lint/pull/150#discussion_r131667746

[2019-12-23 18:50] lifeart commented on #1030
hm, https://github.com/ember-template-lint/ember-template-lint/blob/master/docs/rule/no-passed-in-event-handlers.md

[2019-12-23 19:06] Turbo87 commented on #1030
hmm, yeah, that does seem like a reasonable suggestion to me 👍

[2019-12-23 19:09] rwjblue commented on #1030
Agree

[2019-12-23 21:02] #1026 closed

[2019-12-23 23:23] #1030 closed

[2019-12-24 02:04] robclancy opened #1033 "`style-concatenation` false positive"
If you have a `@style` argument it will trigger as if it was an attribute.

[2019-12-24 09:20] boris-petrov opened #1034 "[no-passed-in-event-handlers] Add whitelist support"
Two usecases:

1) I have a component that inherits from the built-in `link-to` component. There is no easy way of circumventing passing `@click=...`.

2) I have a Glimmer component which just happens to have a callback named `click`.

In both of these cases I would like to suppress the `no-passed-in-event-handlers` warning because it is not "correct".

[2019-12-24 21:38] MelSumner commented on #587
@Turbo87 it was poorly implemented in browsers. Definitely agree with @rwjblue and suggest trying it out with assistive tech yourself- it will help make it clear how this one in particular doesn't behave the way we wish/expect it to. :+1:

[2019-12-30 14:15] Pixelik opened #1039 "{{! template-lint-disable }} comment creates no-unused block params bug"
The following, is throwing a `no-unused block params` **template-lint error**, saying that `param` is not being used, which is not true:

[code]

if I remove `{{! template-lint-disable }}` it works. However, I do need to use `{{! template-lint-disable }}` for some other part of my code.

A temporary solution I found is to place `{{! template-lint-disable }}` _before_ `<MyComponent .... as |param|>

[2020-01-03 14:43] rwjblue commented on #1039
So if I understand the issue correctly, you are saying that the scope tracking stops identifying used/unused block params when it hits `template-lint-disable`, right?

Would you mind submitting a failing test case for the `no-unused` block, so we can figure out a path forward?

[2020-01-03 14:47] rwjblue commented on #1034
The idea seems reasonable to me, we need to come up with a nice configuration API for it.

[2020-01-03 14:51] rwjblue commented on #1033
Would you mind submitting a failing test case for this?

[2020-01-06 15:43] st-h opened #1043 "add ember-cli/ember-cli-app-version to no-curly-component-invocation"
the no-curly-component-invocation complains about invocations of
[code]
app-version actually seems to be a helper.

As this is an addon maintained by ember-cli, I would like to propose to add it to the no-curly-component-invocation rule by default instead of making everybody who uses the addon add this to the configuration.

I don't have any experience with writing (or modifying) linters, but if t

[2020-01-06 19:13] bmish commented on #953
Ping on this? Just wondering if anyone else shares my concerns. If not, we can close the issue.

[2020-01-06 20:02] Turbo87 opened #1044 "no-inline-styles: Enable `allowDynamicStyles` option by default"
https://github.com/ember-template-lint/ember-template-lint/pull/672 introduced a new `allowDynamicStyles` option for the `no-inline-styles` rule. I would like to propose to make that the default for the v2.x release.

https://getbootstrap.com/docs/4.0/components/progress/ for example is using inline styles to set the width of a progressbar, I've seen other code use dynamic background colors for us

[2020-01-06 20:21] rwjblue commented on #1044
@Turbo87 - It is not clear to me what you mean here, do you mean defaulting to `true` or `false`?

[2020-01-06 20:33] Turbo87 commented on #1044
@rwjblue sorry, should have been clearer. I would want the default to change from `false` to `true`. in other words: it should **not** warn about dynamic styles by default.

[2020-01-06 20:54] rwjblue commented on #953
I think there is a bit of an easier migration path here:

* create a config that includes _only_ the stylistic rules from the current recommended config
* suggest users use `extends: ['recommended', 'stylistic_OR_SOME_BETTER_NAME']`

Am I missing something?

[2020-01-06 20:56] rwjblue commented on #953
Also, as an aside, the point of the change to recommended was to align with how eslint works. If you review the list of rules in the [recommended set for eslint@6](https://github.com/eslint/eslint/blob/v6.8.0/conf/eslint-recommended.js), it really does not include many/any "stylistic" rules at all.

[2020-01-06 21:19] rwjblue commented on #953
If we go this path, we need to decide what to call that stylistic config. Should it be:

* `stylistic`
* `recommended-stylistic`
* `rwjblue-style`
* other ideas?

[2020-01-06 21:28] Turbo87 commented on #995
closing, as it looks like this has been done on the `next` branch now :)

[2020-01-06 21:28] #995 closed

[2020-01-06 21:35] bmish commented on #953
I opened a PR to add a `stylistic` config.

[2020-01-06 21:50] dcyriller commented on #953
FWIW, we might be able to delete our apps' `.prettierignore` with the next Prettier release (I precise: we use the rule `no-bare-strings: true`)

[2020-01-06 22:40] bmish commented on #1044
I'll open a PR for this shortly.

[2020-01-06 22:45] #953 closed

[2020-01-07 12:57] dcyriller commented on #760
@rwjblue I've continued the --fix implementation in these two PRs: https://github.com/ember-template-lint/ember-template-lint/pull/935 and https://github.com/ember-template-lint/ember-template-lint/pull/1025

I have a main blocker though, mentionned in the second PR: I miss a `ranges` concept in the AST. Currently, we have a `location` (eg. [{ start: {line:2, column:2}, end: {line:2, column: 4}}])

[2020-01-07 15:05] rwjblue commented on #1044
Closed by #1052

[2020-01-07 15:05] #1044 closed

[2020-01-07 18:43] robclancy commented on #1033
I must have been out of date or something. I made the tests but they didn't fail, then enabled the the rule again and there was no false positives.

[2020-01-07 18:43] #1033 closed

[2020-01-08 00:09] asakusuma opened #1066 "Cannot read property 'match' of undefined"
I built a standalone plugin module, which uses the latest `ember-template-lint` (1.x), as a devDependency, for testing the rules defined in the plugin module.

When I yarn link the plugin module into a project which uses the latest non-beta version of `ember-cli-template-lint` (0.7.x), I get this error on `ember build`:

[code]

I traced the error to [this line in `base.js`](https://github.com/emb

[2020-01-08 01:03] mehulkar opened #1064 "link-no-rel fails with rel="noopener" for Firefox 52"
The link-no-rel rule fails if one does not specify both `rel="noopener noreferrer"`. The docs say that `noreferrer` is to account for Firefox prior to 52:

https://github.com/ember-template-lint/ember-template-lint/blob/v1.13.0/docs/rule/link-rel-noopener.md

Not sure if worth it, but if config/targets.js doesn't need to support priority Firefox 52 (currently latest version is Firefox 70), then ma

[2020-01-08 14:54] rwjblue commented on #1064
I think this is a good idea in general, however we do not currently have a mechanism to access the supported targets from within a rule.

In (coming soon) 2.x release we recently added support for grabbing config information from a project's `.editorconfig` file (e.g. what type of line endings, how much indentation, etc) and this request would fit really nicely in that space.

In the meantime, you

[2020-01-08 15:59] lifeart opened #1065 "Cannot read property `length` of undefined undefined"
ember-template-lint 1.8.1

![image](https://user-images.githubusercontent.com/1360552/71993856-d91fde80-3248-11ea-90e9-efe1e8033507.png)

[2020-01-08 16:04] lifeart commented on #1065
@rwjblue should we improve error reporting, specifying "broken" rule?
Also, I was thinking about integrational tests for all rules to catch such issues.

[2020-01-08 16:12] dcyriller commented on #1066
It might be related to https://github.com/ember-template-lint/ember-template-lint/issues/1065

[2020-01-08 16:30] bmish commented on #1065
You can run `ember-template-lint --verbose` to find out what rule is causing the error.

[2020-01-08 17:48] lifeart commented on #1065
@bmish thank you!
![image](https://user-images.githubusercontent.com/1360552/72002218-0d4ecb80-3258-11ea-81dd-4233c550945c.png)

Looks like issue should be fixed in https://github.com/ember-template-lint/ember-template-lint/commit/7a95fcf87a2f90773b6e0c10deb5f364aea05b21#diff-29931e7900ce80519d8178889105564d

[2020-01-08 17:48] #1065 closed

[2020-01-08 18:07] dcyriller commented on #1066
`ember-cli-template-lint` is bringing an outdated version of `ember-template-lint`. This issue looks fixed in `ember-template-lint`'s latest versions. The solution is indeed to upgrade `ember-cli-template-lint`. I have released a v1.0.0.

I'm closing this issue. If you need, don't hesitate to re-open.

[2020-01-08 18:07] #1066 closed

[2020-01-08 18:20] asakusuma commented on #1066
Thanks @dcyriller !

[2020-01-14 12:33] davideferre opened #1075 "no-curly-component-invocation rule not working correctly"
Linter show this message:

Adding the suggested rule doesn't change the behaviour.

`Template linter version: 1.0.0`

[2020-01-15 22:01] rwjblue commented on #813
I'm not sure if this is or is not still an issue. I would definitely expect running `./node_modules/.bin/ember-template-lint **/*.hbs` from the monorepo root to work.

@danwenzel - Are you saying that is **not** working?

[2020-01-16 06:38] gokatz opened #1079 "More helpful error message for {{action}} helper."
The rule, `no-action-modifier` affects both modifier and helper.

However, the error message, **Do not use 'action' as <div {{action ...}} />. Instead, use the 'on' modifier and 'fn' helper** is only suitable for modifier usage.

In place of `{{action}}` helper (say, in closure action), the error message should advise using the `@action` decorator.

<img width="857" alt="Screenshot 2020-01-16 at 1

[2020-01-16 15:00] jalandis opened #1080 "`no-invalid-meta` rule crashes on meta tag without content attribute"
Getting the following error related to the `no-invalid-meta` rule.

[code]

[2020-01-16 17:26] bmish commented on #1080
Hey @MelSumner, looks like a `<meta>` tag without a `content` attribute crashes the `no-invalid-meta` rule. Should the rule ignore that situation or report a violation?

[2020-01-17 15:18] paulcwatts commented on #1080
I also noticed this error happens if the `content` parameter is specified using curlies, like:

[code]

[2020-01-17 21:25] bmish commented on #1080
I opened a PR to fix these issues in #1087.

[2020-01-18 19:40] #1080 closed

[2020-01-21 19:31] wagenet opened #1089 "no-curly-component-invocation gives false positive on yield helper with arguments"
In the following template, the first `{{yield}}` is allowed, the second is not.

[code]

I will try to create a failing test soon.

[2020-01-21 19:45] rwjblue commented on #1089
Thank you for reporting @wagenet!

[2020-01-23 10:46] #1089 closed

[2020-01-28 09:14] boris-petrov commented on #662
@rwjblue - actually the original issue is not fixed - it is about ignoring things like `&times;` by default and not having to whitelist them explicitly.

[2020-01-29 01:33] kafkahw commented on #1075
same here, but for me it seems VSCode specific.
After adding the suggested rule, the linter still complains in VSCode, however, it will pass if you run `ember-template-lint` against your file in terminal.

[2020-01-29 09:05] stukalin opened #1098 "New rule which forces using @-prefixed attributes in native components"
In the https://api.emberjs.com/ember/release/classes/Ember.Templates.components/methods/Input?anchor=Input we have the following section

which tells us to use the `@` for (at the moment of writing) `@type`, `@value` and the `@checked` on the `<Input/>`. Can we add a rule to enforce that?

[2020-01-30 12:29] Windvis opened #1099 "Argument / Attribute sorting rule"
Our company has the policy to sort all arguments / attributes alphabetically to prevent bikeshedding about it. It would be nice if there was a rule to enforce this, so we wouldn't have to spend time on it during code reviews :smile:.

I'm not 100% sure how this should work. Should HTML elements be treated differently from component invocations?

[2020-01-30 12:32] dcyriller commented on #1099
@Windvis there is a work in progress here: https://github.com/ember-template-lint/ember-template-lint/pull/871

[2020-01-30 13:05] Windvis commented on #1099
Oh, I'm sorry. Note to self, use more than 5 minutes to look for related issues 😄.

[2020-01-30 13:05] #1099 closed

[2020-02-06 05:20] lifeart commented on #1098
should rule warn if `{{on 'change' this.change}}` modifier used on `<Input | Textarea> `?

[2020-02-06 05:27] lifeart commented on #1079
I think `@action` decorator mention may confuse user, because of different context (template), but I like idea about error message improvment, could we figure out proper message?

[code]
**Do not use `action` helper for `this.test` context binding. Instead, use `@action` decorator for method `this.test` in component class.**

-----------
[code]
**Do not use `action` helper for `this.test` context

[2020-02-06 06:06] stukalin commented on #1098
@lifeart could you remind me what's wrong with that `{{on 'change'}}` ?

[2020-02-06 06:34] lifeart commented on #1098
it's framework component, I beleve developers should use `@onchange={{this.callback}}` to handle changes.

[2020-02-06 06:37] stukalin commented on #1098
@lifeart sounds like a bit off-the-scope of the proposed rule to me. Not 100% sure though

[2020-02-13 13:35] lougreenwood opened #1112 ""no-quoteless-attributes" & arguments?"
The `no-quoteless-attributes` rule also triggers when using un-quoted *arguments*.

<img width="746" alt="Screenshot 2019-12-19 at 15 30 41" src="https://user-images.githubusercontent.com/12051736/74440349-c1e69900-4e65-11ea-95d9-f73666669546.png">

This is confusing, because when I saw the rule for the first time, I didn't really know if this was also really valid for `arguments` or if it was act

[2020-02-13 13:42] lougreenwood opened #1113 ""no-invalid-interactive" is overly strict?"
When adding `{{on "scroll" this.someEvent}}` to a `div` element, I get the `no-invalid-interactive` warning.

However, this seems overly strict, since triggering an event on scroll seems to be valid and not actually break the intent of the `no-invalid-interactive` rule?

![Screenshot 2020-02-13 at 13 41 56](https://user-images.githubusercontent.com/12051736/74440823-a039e180-4e66-11ea-9490-002c621

[2020-02-14 09:06] lougreenwood commented on #1113
Seems that this is also an issue for the `oncopy` event - this seems valid to me?

![Screenshot 2020-02-14 at 09 05 33](https://user-images.githubusercontent.com/12051736/74516964-41797400-4f09-11ea-9e11-fc367115420b.png)

[2020-02-18 23:34] rwjblue commented on #936
I'd like to focus on workflows here not "severity" specifically. Can you explain how you'd like to use severity, what would your workflow look like?

[2020-02-19 02:53] mehulkar commented on #936
The workflow is that I introduce new lint rules for the team to nudge new code to go in a particular direction. For many rules, if there are a reasonable number of rules, it's better to turn it on as a warning and signal to the team that it's worth fixing / learning, rather than going to error and having to fix it all myself, or turning off and forgetting about it.

[2020-02-19 16:04] MelSumner opened #1119 "update test suite for new rule creation"
update the test suite that confirms new rules are created with all the right "things", to also check for these placeholders (and if found fail the test).

[2020-02-20 00:01] suchitadoshi1987 commented on #936
This should start working once https://github.com/ember-template-lint/ember-template-lint/pull/1117
this PR is merged

[2020-02-20 15:44] rwjblue opened #1122 "Replace minimatch with micromatch"
[micromatch](https://www.npmjs.com/package/micromatch) is much faster, has `minimatch` compatible API's and is used by webpack, @babel/core, yarn, jest, etc.

This should probably target `next` branch which already has `micromatch`, and it should remove `minimatch` from `dependencies` (replacing any usages with `micromatch`).

[2020-02-20 20:07] rwjblue commented on #1113
Ya, we should try to make this nicer. 🤔

Suggestions?

[2020-02-20 22:09] lifeart opened #1125 "rule request: require "as" for block params"
given:

[code]
no lint issue, no compilation issue, only "unknown scope", component rendered itself, but not block inside

![image](https://user-images.githubusercontent.com/1360552/74983207-a28fd300-5446-11ea-9999-c8e11bb9258c.png)

![image](https://user-images.githubusercontent.com/1360552/74983226-af142b80-5446-11ea-8896-d612ee5c8579.png)

I think we should explictly warn if user has missed ` a

[2020-02-20 22:57] rwjblue commented on #1125
Conceptually a block param in this case is really just a specially formatted valueless attribute (in the AST). I definitely agree that the example you gave is pretty bad 🤔.

Frankly, I’d consider this a bug (that we don’t actually error during template compilation).

[2020-02-20 22:59] rwjblue commented on #1125
Seems fine to add a rule (we should also look into making it fail during compilation though). Maybe call it `no-invalid-block-param-definition`?

[2020-02-21 01:16] rwjblue commented on #813
AHA! That makes sense @danwenzel, thank you!  For now, the easiest solution is to add files in your subpackages that are effectively `module.exports = require('../../../.template-lintrc');`.

I think we should fix this (specifically, I've realized recently thanks to @krisselden that sometimes VSCode extensions always run from the current files directory and not the project root). The fix should be

[2020-02-21 01:32] rwjblue commented on #662
@boris-petrov - Hehe, the issue description definitely does not make that clear. :smile:

Can you create a new issue that suggests something like "automatically allow all HTML entities in no-bare-strings rule"?

[2020-02-21 01:33] rwjblue commented on #1075
Can you share a quick reproduction? I'm _fairly_ sure we've fixed this, but I'd like to double check...

[2020-02-21 01:36] rwjblue commented on #1098
Ya, agree with @stukalin. I think adding a rule to help folks use `<Input>` properly makes sense.

[2020-02-21 01:39] rwjblue commented on #1112
Hmm, I definitely see what you mean here. I'm happy to have another rule that is _basically_ the same as `no-unquoted-attributes` for the sheer fact that it will be clearer to folks (even though _in the AST_ there is no differentiation between attributes and arguments).

It would also be nice because the suggested fix for `no-quoteless-arguments` would likely be to wrap the value in mustaches (e.g

[2020-02-21 02:31] mehulkar opened #1127 "Rule to disallow some arg names that were meant for attribute bindings"
A rule to disallow `@class` and `@classNames` and other attribute binding arguments would be good, especially for angle bracket invocations. I am converting some curly component invocations to angle brackets and want to take the conversion to `...attributes` in a separate pass.

[2020-02-21 05:24] kafkahw commented on #148
same here, my config is as follows:
[code]

[2020-02-21 06:10] lolmaus opened #1128 "Error messages should contain rule code"
It's quite difficult to figure out a linting error, because the error message does not contain a rule code, and the rule's documentation page does not contain the error message.

As a result, you can't easily look up a documentation page for your linting error.

So your only option is to google up the error message, hoping that someone on the internet has mentioned which rule it corresponds to.

!

[2020-02-21 06:14] lolmaus opened #1129 "Built-in helpers (e.g. `concat`, `array`, `hash`) should never be flagged by `no-implicit-this`"
This is a perfectly valid template:

[code]

The `concat` helper should produce no output, since it has no arguments. But the tildes should remove whitespace around it.

It does not matter which helper I use for this purpose, it just has to be a helper that does nothing without arguments. `concat`, though, seems to be giving a hint of what's going on. 🔧✨

This does work.

But the linter complains

[2020-02-21 06:25] lifeart commented on #1127
I think it may be an "warn" rule, because this naming pretty valid in some cases.

[2020-02-21 08:01] davideferre commented on #1075
Sure, in my .template-lintrc.js I've set the rule

`'no-curly-component-invocation': { allow: ['g-map', 'g.marker'] }`

but in console I get this message:

`35:24  error  You are using the component {{g.marker}} with curly component syntax. You should use <G.Marker> instead. If it is actually a helper you must manually add it to the 'no-curly-component-invocation' rule configuration, e.g. `'no-cur

[2020-02-21 08:11] boris-petrov opened #1131 "[no-bare-strings] Automatically allow all HTML entities"
Things like `&times;` should be ignored by default by the `no-bare-strings` rule because they are built-in HTML constructs.

Forked from https://github.com/ember-template-lint/ember-template-lint/issues/662.

cc @rwjblue

[2020-02-21 10:58] lougreenwood commented on #1113
I suppose a whitelist of JS events which are allowed could work - especially if this were extendable in config for `ember-template-lint` for the case where new events were added by browsers (not sure if something like Electron may also add extra events)?

[2020-02-21 17:37] jacobq opened #1135 "no-quoteless-attributes false positives after upgrading"
Wanted to put this here for anyone encountering this issue after running `yarn upgrade` (and getting `ember-template-recast` v4.1.0)

https://github.com/ember-template-lint/ember-template-recast/issues/221

[2020-02-21 18:35] rwjblue commented on #1079
@gokatz - The `no-action-modifier`rule should only be warning about modifier usage, the `no-action` rule should flag both helper and modifier and the resulting message _should_ tell you the right thing to use in each scenario.

[2020-02-21 18:47] rwjblue commented on #1129
The issue here is that no-implicit this cannot tell that `{{concat}}` is a helper (or component) invocation. Built in helpers (like concat) should not be flagged (because we know for certain that it is a helper), but in the general case the guidance in the error message is exactly correct (you have to add helpers that are invoked without arguments to the the rule config for your project).

[2020-02-21 18:47] rwjblue commented on #1129
Whoops, sorry about that (hit the wrong button).

Keeping this open to ensure that built-in known helpers do not get flagged by `no-implicit-this`.

[2020-02-21 18:50] rwjblue commented on #1131
Thank you @boris-petrov!

[2020-02-21 18:51] rwjblue commented on #1131
For context, I think that we can implement this by adding all known HTML entities to the default allow list. Thankfully, simple-html-tokenizer bundles the list of entities for us.

[2020-02-21 18:54] rwjblue commented on #1135
This affects users of ember-template-lint@2.0.0-beta.5 (any of the 2.0.0-beta series really), and was fixed by https://github.com/ember-template-lint/ember-template-lint/pull/1123. I'll try to get another beta release out so folks aren't bitten by the interim state.

[2020-02-21 18:58] rwjblue commented on #1128
This seems like an editor extension issue to me, both the default format and `--json` format output of our bin script include the rule name in their output. The message itself should not _also_ contain the rule name.

Probably best to file an issue on whatever extension you are using in your editor that wraps ember-template-lint, to ask them to include the rule name in the visuals.

[2020-02-21 19:23] Turbo87 commented on #1131
**why** should we allow any of these entities?

[2020-02-21 19:23] lolmaus commented on #1129
Ah, so this is not related to the tilde whitespace removal?

[2020-02-21 19:29] lifeart commented on #1128
![image](https://user-images.githubusercontent.com/1360552/75065030-1094d280-54f9-11ea-8901-f8b851ee1077.png)
VSCode unstable language server fixed in "0.3.8"

[2020-02-21 19:44] lolmaus commented on #1128
:heart:

[2020-02-21 19:44] #1128 closed

[2020-02-21 23:39] #148 closed

[2020-02-22 01:22] rwjblue commented on #1129
No, I don't think so, but the best way to check is by making a failing test case 😸

[2020-02-22 10:07] lifeart commented on #1131
@Turbo87 this entities seems multilingual (in most cases)

[2020-02-22 10:19] lifeart commented on #1129
I can't figure out other built in helpers except (debugger) with use-cases without arguments.

[2020-02-22 10:27] lifeart commented on #1112
seems related: https://github.com/ember-template-lint/ember-template-lint/pull/927
I can split it to smaller PR's if I able to figure out rule names and scope for each rule :)

[2020-02-22 10:31] lifeart commented on #1113
We can specify "interactive" events and warn only for them (instead of having "whitelist")

[2020-02-22 10:35] Turbo87 commented on #1131
maybe some of them, but definitely not all. and I'm even doubtful about the rest. also, even if they are the same across all locales, why not still put them in the translations to be consistent?

[2020-02-22 12:15] lifeart commented on #1131
there is already list of `& * ;` items https://github.com/ember-template-lint/ember-template-lint/blob/master/lib/rules/no-bare-strings.js#L45

I think real-life use-cases for it it's pretty rare and we don't need to warn about it (because it can be meaningful inside app context - for example "calculator" app with special symbols)

[2020-02-22 12:50] lolmaus commented on #1129
I believe it should be possible to make `ember-template-lint` aware of custom helpers, by configuring the rule.

[2020-02-22 12:50] rwwagner90 commented on #1135
I'm seeing this issue as well. Isn't 2.x not beta anymore? I'm on 2.0.1, with not `beta` in the tag.

[2020-02-22 13:55] bmish commented on #1131
I agree with having an option `allowHTMLEnttities` which defaults to true to maintain the current behavior.

[2020-02-22 15:48] rwjblue commented on #813
Fixed by https://github.com/ember-template-lint/ember-template-lint/pull/1138 (which will land in a 2.0.0 beta soon).

[2020-02-22 15:48] #813 closed

[2020-02-22 17:07] jacobq commented on #1135
Different packages
ember-cli-
ember-

On Sat, Feb 22, 2020, 6:50 AM Robert Wagner <notifications@github.com>
wrote:

[2020-02-22 17:12] rwjblue commented on #1135
Oh no! I didn't realize that ember-cli-template-lint@2.0.0 (stable, not beta) was out but still using ember-template-lint@2.0.0-beta.x.

[2020-02-22 17:21] rwjblue opened #1142 "Fix README's build passing badge"
Seems like it is still referencing TravisCI, but we've moved to GH actions.

[2020-02-22 22:12] rwjblue commented on #1129
@lolmaus - Indeed it is! That is **exactly** what the error message you included in the original issue description tells you to do 😸

[2020-02-22 22:13] rwjblue commented on #1125
Closed by #1126

[2020-02-22 22:13] #1125 closed

[2020-02-23 01:43] rwjblue commented on #1135
Released 2.0.0 with the fixes mentioned, sorry about this y'all...

[2020-02-23 01:43] #1135 closed

[2020-02-23 01:44] #1122 closed

[2020-02-23 05:38] lolmaus commented on #1129
What I found:

[code]

Some of these seems to already have exceptions, e. g. `outlet` and `yield` do not raise the error.

`hasBlock` does not even have any params, even though it's only use case is within `if`.

[2020-02-23 16:53] bmish opened #1150 "Plugin causes crash in v2.0.0 release"
After upgrading to ember-template-lint 2.0.0, the template linter now crashes for me, when using either my custom template lint plugin or even a public plugin like `ember-template-lint-plugin-prettier`. When I comment out `plugins` in my template lint configuration, it no longer crashes.

Debugging into this a bit, I see that `configPath` is undefined. Looks likely to be related to #1138 (CC: @rwj

[2020-02-23 19:16] rwwagner90 commented on #1135
Thanks @rwjblue! Appreciate the quick turnaround 😃

[2020-02-23 19:18] rwjblue commented on #1150
Thanks for reporting @bmish! I'm a bit worried about the missing test coverage that this type of fundamental error seems to infer...

This is somewhat related to that comment I added here:

https://github.com/ember-template-lint/ember-template-lint/blob/4279eb30f9c7c20954951d26b74e1b34dcdb5b89/lib/get-config.js#L147-L150

At the moment, it is erroring because `options.configPath` is undefined (whi

[2020-02-24 01:54] rwjblue commented on #1150
In order to repro the issue, I started a small refactor of our test harness in https://github.com/ember-template-lint/ember-template-lint/pull/1151.

[2020-02-24 03:35] #1150 closed

[2020-02-24 03:38] rwjblue commented on #1150
Fix is included in [v2.0.1](https://github.com/ember-template-lint/ember-template-lint/releases/tag/v2.0.1).

[2020-02-24 14:33] #1142 closed

[2020-02-24 15:29] bmish opened #1155 "Recommended fix for violations of `link-href-attributes`?"
The [link-href-attributes](https://github.com/ember-template-lint/ember-template-lint/blob/master/docs/rule/link-href-attributes.md) rule is now enabled in the recommended configuration of the v2 release so I'd like to get some clarification about the following use case.

In my application, we have many action modifier links that look like this:

[code]

Is this bad practice? What exactly is the r

[2020-02-24 16:04] rwjblue commented on #1155
Right, I think your intuition is correct here. The correct path forward for things like this is to refactor to use semantic HTML. These types of elements are _not_ "linking to another page" (they don't have an `href`) so they must be performing actions, most of the time that means you actually wanted a button.

@MelSumner - Do you think you might have time to help us get those docs updated? They a

[2020-02-24 16:07] MelSumner commented on #1155
@rwjblue absolutely, happy to help.

@bmish the TL;DR is:
- if it's going to a URL, it should be a link
- if it's toggling something, it should be a button

[2020-02-24 16:26] MelSumner commented on #1113
+1 to having an allowed list of common interactions to at least identify the obvious ones.

It would also help for things like forms that are not considered interactive elements but that's where you put the action that should happen when the submit button is clicked (at least, that's how typical forms handle this).

[2020-02-25 02:05] rwwagner90 commented on #1135
It seems like maybe something didn't get published correctly? I am on ember-cli-template-lint 2.0.2 and still seeing this issue.

[2020-02-25 08:42] richard-viney opened #1161 "Does ember-template-lint v2 support ESLint integration?"
Looking at upgrading to v2 and ran into an ESLint issue on the following code:

[code]

which gives the following output when running ESLint:

`
3:1  error  3 error(s): The "path" argument must be of type string. Received type undefined  hbs/check-hbs-template-literals
`

Is the ESLint integration intended to work with v2 yet? I did notice
`warning " > eslint-plugin-hbs@1.0.0" has incorrect peer d

[2020-02-25 08:55] bobisjan commented on #1161
This was introduced by [fix](https://github.com/ember-template-lint/ember-template-lint/pull/1072) for EdtiorConfig. So yes, the `eslint-plugin-hbs` needs to be updated to be compatible with `2.0.1+`, there is already open [PR](https://github.com/ember-template-lint/eslint-plugin-hbs/pull/35) for that.

[2020-02-25 11:44] MelSumner opened #1162 "no-invalid-link-title: additional test(s)"
Add an invalid test case that ensures that a title which is a substring of the link text is disallowed.

[2020-02-25 14:35] #1155 closed

[2020-02-25 15:42] MelSumner opened #1164 "update contributing.md"
once #1103 and #1163 are merged, update the CONTRIBUTING.md file and pull out the contributing info  that will be in dev/new-rule/index.js and the README into the CONTRIBUTING file.

[2020-02-25 19:05] rwjblue commented on #1039
I am generally curious, what does eslint do in this circumstance?

[2020-02-25 19:07] rwjblue commented on #1164
#1163 is landed, so we can probably update `CONTRIBUTING.md` directly in #1103 instead of the `README.md`.

Closing (please reopen if I've missed something...)

[2020-02-25 19:07] #1164 closed

[2020-02-26 14:57] rwjblue commented on #1161
I've submitted https://github.com/ember-template-lint/ember-template-lint/pull/1167 to ensure that we don't error here (https://github.com/ember-template-lint/eslint-plugin-hbs/pull/35 is still needed, but I didn't want ember-template-lint itself to error like this regardless).

[2020-02-26 16:54] MelSumner opened #1168 "Tidy up ast-node-info element helpers"
The helpers that only check `node.tag` are not helpful because they are providing less functionality than would be expected by someone using the helpers.

For example, `isInputElement` only checks `node.tag === 'input'` and doesn't include `{{input}}` or `<Input/>`.

- [ ] Determine if the helper can be made more useful
- [ ] If the helper cannot be made more useful, remove it.
- [ ] Update the lo

[2020-02-26 17:55] #1161 closed

[2020-02-26 19:54] rwjblue commented on #1135
Hmm, can you make a reproduction?

[2020-02-26 20:06] rwwagner90 commented on #1135
The issue I was hitting was in ember-shepherd. If you pull it down and remove the disabling of the rule here https://github.com/shipshapecode/ember-shepherd/blob/master/.template-lintrc.js#L8 it should show the errors.

[2020-02-27 00:53] #588 closed

[2020-02-27 00:55] rwjblue commented on #936
(Shouldn’t have closed from #1117, will be closed by #1160)

[2020-02-27 01:36] rwjblue opened #1170 "Document the rule test harness."
The test harness is exported in `lib/` so that folks can leverage it to run their plugins's tests. It is a really awesome feature!

But we don't have documentation for it in our README.md or the `docs/` subdir (there are some nice API docs though).

[2020-02-28 22:19] #760 closed

[2020-02-29 14:20] rwjblue opened #1180 "Features required for `--fix` support"
- [x] Ensure file is updated when passing `--fix` (https://github.com/ember-template-lint/ember-template-lint/pull/1183)
- [x] Update the pretty formatter to emit slightly different output when fixable errors are detected (like eslint does) https://github.com/ember-template-lint/ember-template-lint/pull/1185:

[code]

- [x] Add end to end acceptance tests for fixing (that invoke `ember-template-li

[2020-03-02 16:47] bmish opened #1186 "Prefix plugin rules with plugin name"
For example:

Plugin: `ember-template-lint-plugin-myapp`
Rule name: `myapp/rule-name`

This would make it clear where the rules come from, especially when there are multiple plugins, and is the same naming pattern that eslint follows.

We could add support for this any time, but I'd also like to require this namespacing in the next major version, and disallow referring to plugin rules without thei

[2020-03-03 03:59] rwjblue commented on #1186
The rollout plan is pretty important (shouldn't be breaking, which means we allow referencing either way, etc), but in general seems good to me.

[2020-03-03 11:27] Turbo87 opened #1192 "New Rule: no-unbalanced-curlies"
I recently introduced a small typo like this in one of my projects:

[code]

I guess it would be nice to count the number of opening double curlies and compare it to the number of closing double curlies, to make sure that you're not running into a similar issue.

[2020-03-03 12:30] EvgenyOrekhov opened #1193 "no-invalid-block-param-definition false positives with {{#each}}"
Code:

[code]

Expected result: no warnings.

Actual result:

[code]

ember-template-lint version: 2.2.0

[2020-03-03 16:11] rwjblue commented on #1192
@turbo87 - I would expect that to emit a parser error, doesn't it? I guess it may not because the opening was a single curly?

[2020-03-03 16:13] rwjblue commented on #1193
This is very bizarre, can you share your configuration also?

[2020-03-03 16:14] Turbo87 commented on #1192
exactly. it just treated it as regular text. I guess for missing closing curly it would work, but apparently not for the opening curly.

[2020-03-03 16:16] Turbo87 commented on #1192
I guess an alternative and simpler implementation would be to check `chars.includes('}}')` in each `TextNode` 🤔

[2020-03-03 16:21] EvgenyOrekhov commented on #1193
@rwjblue

[code]

[2020-03-03 16:34] suchitadoshi1987 opened #1194 "Move simpler functions from `get-config` into a separate file"
Currently, with #1160 PR, we have to dynamically load `get-config.js` in `base.js`. This is because `get-config.js` depends on `rule.js` and if we import `get-config.js` from `base.js`, it creates a circular dependency issue with modules (https://nodejs.org/api/modules.html#modules_cycles).
Hence, to avoid this, and to make things more clear, there are certain functions that are simple enough to l

[2020-03-06 14:20] raido opened #1203 "Rule proposal: <form> method="POST""
[code]

In case `preventDefault` fails by major crash in application code, default browser action would be performed and can leak sensitive customer data as GET requests.

[2020-03-08 22:27] pablobm commented on #1192
I'm not sure there's a good solution for this one.

First, here are some scenarios:

[code]

Initially I thought we could just warn of any unscaped curlies. However I think this only works for `\{{` and `\{{{`. For example, the string `\{` renders verbatim `\{`. As a result, we can't just use the backslash as a general mechanism to mark curlies as "safe", as it were.

An idea would be for a rule t

[2020-03-11 12:36] Turbo87 commented on #1192
@pablobm I think the easiest approach would be to look for `TextNodes` that `chars.include('}}')`. I don't think we need to address all of those cases above, especially since some of them are already covered by syntax errors. We could consider looking for `}}}` too, but since that's already covered by `}}` I'm not sure if it's really necessary.

[2020-03-13 14:27] initram commented on #1131
If we allow all HTML entities then we are not maintaining current behavior. Entities like &oslash; and &otilde; are not allowed by default today. I think it would weaken the rule to allow all HTML enties, especially if you look at the set of all HTML5 entities.

There is some merit to expanding the default white-list, but at some point we would have to tell people to write their own white-lists if

[2020-03-13 14:39] fusion2004 commented on #1131
@initram I think my main problem is I don't want to have to maintain the entire list. I just wanted to add one, and get the rest of default whitelist.

[2020-03-13 18:18] rwjblue commented on #1131
Ya, but we can work on that part regardless I think. A couple of ways:

* expose the default array for importing, so folks can do `[...defaults, 'thing-here']`
* add another option that is something like `additionalAllowedStrings` or something

[2020-03-14 07:47] #1193 closed

[2020-03-16 07:44] initram commented on #90
I am pretty sure this is no longer an issue. The original problem was that we did not order the whitelist by length, so '.' would be replaced before 'info@domain.com'. This is no longer the case, as it will now always try to replace the longest whitelist item first.

[2020-03-16 07:57] dcyriller commented on #90
Indeed, thanks @initram!

[2020-03-16 07:57] #90 closed

[2020-03-17 16:31] lifeart opened #1214 "FileMatch issues"
https://github.com/ember-template-lint/ember-template-lint/blob/master/lib/get-config.js#L390

file name `c:\Users\lifeart\Documents\repos\octane-notes\tests\integration\components\localization-bar-test.js`

match pattern: `["tests/**/*.js"]` should return true, instead of false

[2020-03-17 17:23] rwjblue commented on #1214
Hmm, not sure 🤔. I would expect to need `**/tests/**/*.js` for that matcher.

[2020-03-17 17:24] rwjblue commented on #1214
Though, I think we could move these to be relative to the config file or something. Maybe that would work?

[2020-03-17 18:52] lifeart commented on #1214
by default it also return false for `**/tests/**/*.js` pattern
![image](https://user-images.githubusercontent.com/1360552/76890805-1338dc80-6899-11ea-8e47-62c89982dedd.png)

 - I like idea to have `filePath` as absolute to allow integration with different tools.

- in theory, is it make sence to have different template-lint file in tests folder?

[2020-03-17 20:53] rwjblue commented on #1214
I’m pretty opposed to supporting multiple `.template-lintrc.js` in a single repo. This is what overrides should be used for.

[2020-03-17 22:31] mehulkar opened #1215 "Export isInteractiveElement"
It would be great if this helper was exported for use in custom rules:

https://github.com/ember-template-lint/ember-template-lint/blob/master/lib/helpers/ast-node-info.js

https://github.com/ember-template-lint/ember-template-lint/blob/master/lib/helpers/is-interactive-element.js

[2020-03-18 03:44] mwpastore opened #1216 "Command-line options have to come after file(s)?"
This is strange:

[code]

For reference:

[code]

[2020-03-18 03:48] mwpastore opened #1217 "Error repeating multiple times?"
I have a simple template with a common typo that I've been using to troubleshoot #1216:

[code]

No controller class is present in my app and `this.foo` refers to absolutely nothing. Anyway, ember-template-lint correctly diagnoses the problem:

[code]

But then I get this?!

[code]

[2020-03-18 20:53] rwjblue commented on #1216
This has to be caused by the migration to `yargs` that landed in #1196 (for 2.4.0).

[2020-03-19 00:29] mehulkar opened #1218 "Expose test helper"
I want to export a lint plugin from an ember addon (the addon has other runtime stuff too), and would like a nice test-helper/framework. Currently I am bootstrapping a custom script that runs:

[code]

I put this file *outside* the `tests/` directory because otherwise ember's test suite picks it up and fails because the dummy app doesn't have the plugin added (and I'm not sure I want to add it int

[2020-03-19 00:33] bmish commented on #1218
I have an entirely separate npm package for my plugin called ember-template-lint-plugin-my-app.

[2020-03-19 00:36] mehulkar commented on #1218
I want/need mine to come specifically from an addon that does other stuff

[2020-03-19 00:38] mehulkar commented on #1218
I was thinking exporting https://github.com/ember-template-lint/ember-template-lint/blob/master/test/helpers/rule-test-harness.js (Even though it's just a thin wrapper of the lib version) and adding docs would be ok

[2020-03-23 14:14] andreyfel opened #1226 "Add TAP printer"
`ember-cli-template-lint` generated TAP output which was is a format consumed by our CI. Now when it is supposed to be deprecated it would be nice to get TAP output from ember-template-lint.

[2020-03-24 21:52] lifeart commented on #1217
I able reproduce it using this template:

[code]

[2020-03-25 15:36] MelSumner opened #1230 "Add ability to lint .html files"
Adding the ability to lint the `.html` files as well as the `.hbs` files. This would allow us to check for the language attribute on the body element, among other things.

Relevant area of the codebase: https://github.com/ember-template-lint/ember-template-lint/blob/0acaf3513857203c90ae973f76446ecfc61700d1/bin/ember-template-lint.js#L37

Newly generated ember-cli apps use `ember-template-lint .` a

[2020-03-25 15:49] rwjblue commented on #1226
Definitely seems good to me! The printer setup should make it pretty straight forward to add, though we would also need to add a way to specify the custom formatter (e.g. `--formatter tap`).

[2020-03-25 15:52] rwjblue commented on #1218
The test helpers and harness are already exported in `lib/` precisely for this reason. I consider these to be public APIs, and the thin wrapper in `test/helpers/rule-test-harness.js` is all that is needed to be authored manually (it depends on your specific test framework and whatnot).

I don't know that there is anything to be done here other than properly documenting how to author new plugins (a

[2020-03-25 18:06] hergaiety opened #1231 "{{link-to tagName="button"}} Linting"
My preface for this is that ideally we wouldn't see any `{{link-to` that has a `tagName`, and we are moving towards a world of Angle bracket notation. However, as it currently stands we still support curly bracket notation and I still see real world examples of `{{link-to`'s with custom `tagName`'s.

Most notably, the following template code will miss the https://github.com/ember-template-lint/emb

[2020-03-25 20:10] #1217 closed

[2020-03-25 20:32] lifeart commented on #1231
This is absolutely valid code:
[code]

[2020-03-25 20:42] MelSumner commented on #1231
what do you mean by valid? It's certainly an a11y error.

If it's an `<a>` element, it should go to a URL. If it's a `button` then it should be some sort of toggle (open a modal, a menu, switch a tab, save, etc.).

[2020-03-25 20:56] lifeart commented on #1231
Sorry for confusing, I mean it "syntactically" valid. @MelSumner I seen use cases when modal is independent route like `users/edit/ -> users/edit/confirm-delete` and such.

[2020-03-25 21:07] lifeart commented on #1231
Looks like we can't simply bind "type" html attribute to `{{link-to}}`, we need to write code like
[code]

[2020-03-25 22:10] mehulkar commented on #1218
@rwjblue I just revisited this yesterday, and that makes sense. I copied the jest setup in my app and the test wrapper, but am still stuck at getting the test harness to recognize the rule. The linter can't find the rule yet. I'll figure it out the wiring eventually and maybe write up a cookbook for exporting a rule from an addon.

[2020-03-26 00:50] mehulkar commented on #1218
Wrote it up here: https://mehulkar.com/blog/2020/03/ember-template-lint-rule-from-addon/

Wasn't quite sure how to add this documentation into the project itself, but feel free to grab anything that makes sense! Closing this.

[2020-03-26 00:50] #1218 closed

[2020-04-01 02:52] chancancode opened #1245 "GitHub annotations does not distinguish between warnings and errors"
1. GitHub supports [warning messages](https://help.github.com/en/actions/reference/workflow-commands-for-github-actions#setting-a-warning-message) in addition to errors, but we have [hardcoded it to use the error format](https://github.com/ember-template-lint/ember-template-lint/blob/master/lib/printers/github-actions.js#L30) regardless of severity. Since we have the information, we should use it.

[2020-04-01 18:32] eramod commented on #1245
Just FYI, I'm working on this.

[2020-04-01 21:32] chancancode commented on #1245
another related issue: the GitHub Actions printer does not respect the `--quiet` flag

[2020-04-02 14:44] #1203 closed

[2020-04-02 16:27] rwjblue commented on #1245
Ya, we only recently (ish) landed proper severity support. I missed this when thinking about that PR, sorry about that!

Ya, definitely should be fixed up.

[2020-04-02 16:28] rwjblue commented on #1245
@chancancode - I actually think this is a bit of a separate issue from the other two things (which are clearly bugs and whatnot). Would you mind making a separate issue RE: pending rule failures being warnings?

[2020-04-03 18:01] chancancode commented on #1245
Sure I'll spin that off to another issue.

[2020-04-03 18:03] chancancode opened #1248 "Pending rules should not be printed as warnings by default"
Having all the pending rules printed to the output as warnings is not a useful default in my opinion. It drowns out any other non-pending warnings, and encourages the developer to form a habit in ignoring the output in general. Since we already fails the lint when a pending rule become fixed, there is very little value in continuously reminding the developer about them in the mean time. I think th

[2020-04-03 22:03] rwjblue commented on #1248
Seems good to me, though I do think _seeing_ those things is useful in editor plugins. Perhaps we could use severity `0` (instead of `1` for warning or `2` for errors). :thinking:

[2020-04-03 22:48] chancancode commented on #1248
Based on #1245 (`--quiet` flag has no effect in GH Actions), it seems like the editor plugins may already not be bound by the same rules as the default CLI printer. But if they are, they can just invoke the tool with the equivalent of `--verbose` mode internally, right? I agree it may be nice in theory for them to be able to distinguish between pending and warning, but I'm not sure if the editors

[2020-04-07 18:59] brunomacf opened #1255 "-:- error Configuration stack out of sync with AST! undefined"
The following way to use template-lint-disable comment rise the error in the title of this issue:

[code]

but using comment like the following is fine:

[code]

In package.json i have:

[code]

Maybe something specific with `no-invalid-interactive` bc i'm using the 1st way of disabling/enabling in another places with another rules.

[2020-04-07 20:44] MelSumner opened #1256 "Rule request: add condition to `require-input-label` rule"
## Context
Currently, the `require-input-label` rule does not check for instances where a valid label has already been provided but another label is associated with the input element through the use of the `aria-labelledby` attribute.

We could update the `require-input-label` rule or create a separate rule called `no-duplicate-label`.

## Task
Update the rule so it checks for redundant labels- if

[2020-04-08 13:40] rwjblue commented on #1255
@brunomacf - Ya, that method of disabling _should_ work. When did this crop up?

[2020-04-08 21:50] chancancode commented on #1245
Closed by #1257

[2020-04-08 21:50] #1245 closed

[2020-04-08 22:06] chancancode commented on #1248
@rwjblue how should we move forward with this? not too sure how editors integrate with this, so unsure if the `--verbose` proposal work for them

[2020-04-08 22:24] rwjblue commented on #1248
I dunno. I don't feel overly strongly here. I think we should still emit the pending items internally, but I don't think it's terribly important for the normal out of hte box bin script output to include them as warnings in the console.

[2020-04-10 14:08] lifeart opened #1261 "Rule request: no-slotless-content-for-slotted-elements"
ref: https://discordapp.com/channels/480462759797063690/480502165434138624/697969464867684353

this rule forbids:
[code]

allow

[code]

[2020-04-10 16:08] rwjblue commented on #1261
Seems good, though we should check if compilation errors with the first. If compilation errors then I don't think we need a lint rule.

[2020-04-10 23:47] gabrielcsapo opened #1262 "Be able to run one rule at a time"
# Motivation

Eslint has this option, if you want to test out a rule you can run `eslint --rule foo:error this_is_a_path`. It would be great if we could run one template lint rule at a time from the cli.

## Solution

[code]

[2020-04-11 15:54] #1216 closed

[2020-04-11 16:18] rwjblue commented on #1216
Released in https://github.com/ember-template-lint/ember-template-lint/releases/tag/v2.5.2

[2020-04-11 20:45] gabrielcsapo commented on #936
@rwjblue is this good to close out?

[2020-04-13 15:14] MelSumner opened #1272 "Ensure duplicate landmark elements have unique labels"
If two of the same landmark elements or landmark roles are found in the same template, ensure that they have a unique label (provided by the `aria-label` or `aria-labelledby` attribute).

## List of elements & their corresponding roles
- header (banner)
- main (main)
- aside (complementary)
- form (form, search)
- main (main)
- nav (navigation)
- footer (contentinfo)

## Examples

### Allowed

[co

[2020-04-13 15:22] MelSumner opened #1273 "Rule request: ensure landmark elements do not have redundant roles"
If a landmark element is used, any role provided will either be redundant or incorrect. Add support for landmark elements to ensure that no role attribute is placed on any of the landmark elements, with a few exceptions.

## List of elements & their corresponding roles
- header (banner)
- main (main)
- aside (complementary)
- form (form, search)
- main (main)
- nav (navigation)
- footer (contentin

[2020-04-13 16:46] rwjblue commented on #936
Yep!

[2020-04-13 16:46] #936 closed

[2020-04-13 17:15] MelSumner opened #1274 "Rule request: disallow nested landmark elements of the same name"
A new rule should be added to disallow landmark elements to be nested within landmark elements of the same name.

## List of elements & their corresponding roles
- header (banner)
- main (main)
- aside (complementary)
- form (form, search)
- main (main)
- nav (navigation)
- footer (contentinfo)

## Examples

### Allowed

[code]

### Disallowed

[code]

[code]

[2020-04-13 21:42] tstewart15 opened #1275 "Bug: Rule `no-invalid-meta` falsely reports issues for Open Graph protocol meta tags"
`no-invalid-meta` reports the following as invalid, despite it being intentionally written (see https://ogp.me/ )
[code]

The reported issue is `a meta content attribute cannot be defined if neither the name nor the http-equiv attributes are defined`

Can we revisit this rule logic? Or do I just have to live with disabling this rule for the entire file w/ `overrides` config?

I am using ember-temp

[2020-04-14 14:31] Bouke commented on #961
I would also suggest matching eslint's json format, so that we can reuse tools that can already work with eslint's json output. (e.g. SonarQube)

[2020-04-14 15:04] amk221 commented on #708
What about this use case, not supported by @Turbo87's suggestion

https://ember-twiddle.com/ab1d510483ac0578db12b8eed73087ce?openFiles=routes.application%5C.js%2C&route=%2F%3Fq%3DI%2520am%2520ing%2520into%2520a%2520box

[2020-04-14 15:35] Turbo87 commented on #708
I have a hard time understanding that twiddle and I can't find an `unbound` anywhere inside of the template?

[2020-04-14 15:36] amk221 commented on #708
Sorry I should have elaborated, it's really very simple:

[code]

There is no use of `unbound`, that is the point. It's 'broken' without the user of `unbound`

[2020-04-14 15:40] Turbo87 commented on #708
I'm still not sure I understand what you're trying to do, but it sounds like https://api.emberjs.com/ember/3.17/classes/@ember%2Fobject%2Fcomputed/methods/oneWay?anchor=oneWay might help in this case 🤷‍♂️

[2020-04-14 15:40] amk221 commented on #708
It's as basic as you can get for a search page?

[2020-04-14 15:48] amk221 commented on #708
`oneWay` doesn't help here

[2020-04-14 19:34] rwjblue commented on #1275
Yeah, I think that makes sense. Have you thought through what a good resolution would be here?

[2020-04-15 00:27] tstewart15 commented on #1275
Not fully... Do you know the reasoning behind the current rule (i.e. a meta content attribute cannot be defined if neither the name nor the http-equiv attributes are defined)?

Also, looks like ogp.me is based on [RDFa](https://en.wikipedia.org/wiki/RDFa) , which defines the `property` attribute. Could/should we incorporate RDFa tagging in our logic?

[2020-04-15 14:06] rwjblue commented on #1275
/cc @melsumner

[2020-04-15 14:09] MelSumner commented on #1275
We can update the rule so it allows these things. 👍

[2020-04-17 13:31] stukalin opened #1281 "ENOENT: no such file or directory, open 'D:\dev\stdin' on Windows"
Try to run the `ember-template-lint` with the `--filename` option on Windows. You'll see the error similar to this one

![image](https://user-images.githubusercontent.com/9863365/79574349-ad728700-80c8-11ea-9c19-ece9b17022e7.png)

This happens due to the fact that we call the `path.resolve(relativeFilePath)` which, if the `relativeFilePath` is STDIN (`/dev/stdin`) on Windows it'd be resolved as `D

[2020-04-17 21:10] BryanCrotaz opened #1283 "Doesn't support get helper with input element"
Using get helper to read the value of an input element is not supported
`(get _ "target.value")`

no-implicit-this rule triggers:
`Ambiguous path '_' is not allowed.`

[2020-04-19 16:07] mansona opened #1286 "roleValue.trim is not a function"
I'm getting a bit of a strange error that I can't figure out 🤔

[code]

This is most likely because of the following code:

[code]

I figured it was something reasonably easy to recreate so I adding the following tests to the `good` section of `test/unit/rules/no-invalid-role-test.js` expecting it to fail in the same way:

[code]

but the tests pass 🤔

Any ideas?

[2020-04-20 14:42] allison-strandberg commented on #1248
Just wanted to confirm @chancancode's suspicion: in VSCode, I'm seeing errors appear in the Problems panel for rules in pending modules and it introduces a lot of noise.

[2020-04-20 14:57] rwjblue commented on #1286
Yeah, I would expect that to be the reproduction. Do you have the full stack trace?

[2020-04-20 15:00] rwjblue commented on #1283
Does not seem like a bug in ember-template-lint to me (or you haven't given enough context for me to understand :wink:). What is `_` here? Are you referring to the built-in `get` helper from Ember itself? What do you expect this invocation to do?

[2020-04-20 18:20] #1262 closed

[2020-04-20 19:42] mansona commented on #1286
@rwjblue it turns out that code is actually in the `require-valid-alt-text` rule 🤔

https://github.com/ember-template-lint/ember-template-lint/pull/1290 is a reproduction for the case that I'm experiencing

[2020-04-20 23:19] BryanCrotaz commented on #1283
As I understand it, the underscore represents `this`?

example from `ember-set-helper`:
[code]

[2020-04-21 14:23] rwjblue commented on #1283
There is no special behavior RE: `_` with Ember's `get` helper. The special placeholder syntax that you see in the `ember-set-helper` README is provided by `ember-set-helper` internally, and is "magically" (from the context of the template context itself) creating a new variable called `_` via AST transform. There is no way that ember-template-lint can know about this (to avoid the no-implicit-thi

[2020-04-21 14:23] #1283 closed

[2020-04-22 14:25] NullVoxPopuli opened #1295 "no-positive-tabindex fails on dynamic tabindex"
Example:
[code]

[2020-04-22 15:32] rwjblue commented on #1295
We should add more of these "good" examples to the documentation to show how to address this properly.

https://github.com/ember-template-lint/ember-template-lint/blob/ed6611de3a0e0ab8bccd22585f7fe61813392014/test/unit/rules/no-positive-tabindex-test.js#L17-L22

[2020-04-22 15:39] rwjblue commented on #1248
Ya, I think we can make them not warnings and then add a command line option to toggle that (or to just print out pending issues). Happy to help shepherd a PR forward that does this.

[2020-04-22 15:50] NullVoxPopuli commented on #1295
So dynamic tabindex is not allowed? Only a condition? Why's that?
Are only 0 and -1 allowed?

[2020-04-22 15:50] NullVoxPopuli commented on #1295
Ah, this explains it: https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex

[2020-04-22 16:51] chancancode commented on #1248
I think @eramod is interested in picking this up 👌

[2020-04-22 17:35] eramod commented on #1248
I am! @rwjblue Can you give me more details on what you'd like done?

[2020-04-23 17:18] chancancode commented on #1248
Any of these seems fine to me. Although a “no pending” flag can have an unfortunately ambiguous sounding name (can me the opposite of “pending”, whatever that means, or “do not allow check to pass if there are any pending rules left”). Related, we also need to think about exit codes in the options you presented, yeah? Do we just exit with nonzero in any of the options you proposed when there are p

[2020-04-27 14:06] #1281 closed

[2020-04-28 13:49] rwjblue opened #1307 "Global install should defer to project local"
When installing `ember-template-lint` globally and using it within a local project, the globally installed version should **always** defer to the local installation.

[2020-04-28 13:50] rwjblue commented on #1295
Ya, we should get our docs updated to make it clear (and also make sure we cross link that doc).

[2020-04-28 15:23] MelSumner opened #1311 "Update `no invalid role` rule to check against valid role values"
Update the `no-invalid-role` rule to check against the permitted role values listed at https://www.w3.org/WAI/PF/aria/roles and ensure that the rule catches `role` attribute values that are not valid.

Disallowed:
[code]
[code]

Allowed:
[code]
[code]

[2020-04-29 14:50] #1295 closed

[2020-04-29 15:32] MelSumner opened #1314 "Rule request: require `<html>` tag to have `lang` attribute"
Completion of issue #1230 will add the ability to lint .html files. Specifically, the `index.html` file is the desired target for this rule.

## Tasks
1. [ ] Add a new rule called `require-valid-language` (or similar)
1. [ ] the rule should check the `<html>` element for the presence of the `lang` attribute
1. [ ] it should allow lang tags (such as `en`, `fr`, etc) and region subtags (`en-us`, etc

[2020-04-29 15:51] MelSumner opened #1315 "Plan for v3.0 Release"
The last major release was [V2](https://github.com/ember-template-lint/ember-template-lint/releases/tag/v2.0.0) in 2020-02-22.

List of breaking changes to include:

* [x] [Drop Node 13 support](https://github.com/ember-template-lint/ember-template-lint/issues/1444)
* [x] Remove old items from `lib/helpers/deprecated-rules.js`
* [x] Include support for linting .html files (#1232 )
* [x] Update `ca

[2020-04-29 16:04] Turbo87 commented on #1230
https://github.com/glimmerjs/glimmer-vm/issues/870 might be relevant for this issue 🤔

[2020-04-29 18:45] Turbo87 commented on #1315
we could consider having a `next` preset where we gather all the rules that are supposed to go in the next major

[2020-04-29 20:57] MelSumner commented on #1315
I like this idea.

[2020-04-29 20:58] MelSumner commented on #1315
Def isn't meant to be exhaustive, just put somewhere so I don't forget. :) If it's convenient, we can edit this list as we go.

[2020-05-02 00:06] rajasegar commented on #1311
I am picking this one, @MelSumner Can you please assign it to me?

[2020-05-02 00:57] rajasegar commented on #1273
@MelSumner I am picking this up, can you please assign it to me?

[2020-05-02 07:07] rajasegar commented on #1274
I am picking this one. @MelSumner Please assign it to me.

[2020-05-03 07:31] rajasegar commented on #747
@MelSumner How this is different from `no-obsolete-elements` rule?
Also the existing rule is not configurable, can this be added as an enhancement for the same?

[2020-05-03 18:29] gabrielcsapo commented on #1286
I took a shot at fixing this by not validating those alt tags.

[2020-05-04 17:33] rwjblue commented on #1286
Fixed by https://github.com/ember-template-lint/ember-template-lint/pull/1324

[2020-05-04 17:33] #1286 closed

[2020-05-05 07:47] rajasegar commented on #1272
I am picking this one, @MelSumner @bmish Can you please assign it to me?

[2020-05-06 15:50] rwjblue commented on #747
FWIW, I think the definition of "obsolete" infers that it should not be configurable (it refers to a specific / concrete set of declared "obsolete" elements).

I think `no-forbidden-elements` _should_ accept configuration (along with having a default set).

[2020-05-07 17:27] nightire commented on #1113
I have another use case here:

![image](https://user-images.githubusercontent.com/1104018/81325283-b4d6f000-90ca-11ea-94da-856c323e6d2d.png)

It's a list of items, and we need to listen to the `scroll` event of the `<ul>` container so that when users are scrolling down to the bottom of the list, we can load more items in the container, which seems a valid common use case to me.

[2020-05-07 18:57] rwjblue commented on #1113
Yep, makes sense

[2020-05-07 20:18] lifeart commented on #1113
@MelSumner could you please help with allowed list of common interactions?

[2020-05-08 03:16] #1311 closed

[2020-05-08 23:06] lifeart commented on #926
landed in https://github.com/ember-template-lint/ember-template-lint/pull/927

[2020-05-08 23:06] #926 closed

[2020-05-10 09:40] lifeart opened #1334 "Rule request: no-arguments-for-named-blocks"
Since named blocks (slots) will be landed soon in ember.
We need to prepare handy rules to avoid some mistakes, like

disallow:

[code]

[code]

cc: @locks

[2020-05-10 10:03] locks commented on #1334
Another big one would be using the implicit default block:

[code]

[2020-05-10 12:24] lifeart commented on #1334
no-nested-named-blocks

[code]

[2020-05-10 12:25] lifeart commented on #1334
no-named-blocks-outside component-like block

[code]

[2020-05-10 12:27] lifeart commented on #1334
no-modifiers-on-named-blocks

[code]

[2020-05-11 05:17] rajasegar commented on #747
@bmish I am picking this one, can you please assign it to me?

[2020-05-12 04:01] rwjblue commented on #1334
I think this should be a syntax error also :thinking:

(Happy to land a linting rule for correctness while we work through the syntax errors)

[2020-05-12 04:02] rwjblue commented on #1334
/cc @chancancode

[2020-05-12 04:03] chancancode commented on #1334
Yeah I agree. Almost all of these should be syntax errors

[2020-05-12 04:04] chancancode commented on #1334
Also, is it too late to fix things so that AST plugins sees these as blocks instead of element nodes?

[2020-05-12 04:08] chancancode commented on #1334
I guess the problem is we don’t have a component node that can hold blocks. We probably should though. That said it probably won’t be a super quick fix for that reason.

[2020-05-12 09:29] lifeart commented on #1334
@rwjblue there is really a lot of possible legshoot cases, could we aggregate it into single rule, instead of having `no-named-blocks-*` sets? Is it make sence?

[2020-05-12 14:54] catz commented on #1113
Another example. Canvas element that requires mouse interactions.

[code]

[2020-05-12 15:44] velrest opened #1337 "Colliding rules no-negated-condition and simple-unless"
For the following template `ember-template-lint` throws the error `no-negated-condition`.
[code]
If we change the `if` usage to `unless` we in turn get a  `simple-unless` error.
[code]

What would be the correct approach here in regards of both rules?

[2020-05-12 16:17] bmish commented on #1337
The [no-negated-condition](https://github.com/ember-template-lint/ember-template-lint/blob/master/docs/rule/no-negated-condition.md) is actually recommending this which both rules allow:

[code]

Could possible clarify the error message...

[2020-05-12 16:23] velrest commented on #1337
Aaah sorry! :laughing: I didn't even think about swapping the `if` blocks. But yes this is the obvious answer. Thanks!

[2020-05-12 16:23] #1337 closed

[2020-05-12 19:12] gabrielcsapo opened #1339 "Feature: allow custom reporters"
It would be great to allow reporters with the same interface as eslint. https://eslint.org/docs/developer-guide/working-with-custom-formatters

Is this something that would be accepted?

[2020-05-12 21:12] lifeart commented on #1339
related issue: https://github.com/ember-template-lint/ember-template-lint/issues/616

[2020-05-12 23:14] gabrielcsapo commented on #1339
@lifeart I saw those as being specific internal asks for output formats. My request was more generic in that fact that the reporters could be decided via cli arguments.

[2020-05-13 02:22] rwjblue commented on #1339
Ya, I definitely want to do some variation here. The internal structure makes it fairly easy to actually do. We’d just need to ensure:

* that the input format is properly specified
* the command line option is not breaking
* the existing system (default printer, GitHub actions printer, JSON printer) is well rationalized in terms of the new capabilities

[2020-05-13 03:14] gabrielcsapo commented on #1339
@rwjblue i had a use case today pop up to format data for a report, will out something together that takes existing functionality and will abstract to allow new use cases

[2020-05-15 17:56] mehulkar opened #1343 "no-element-event-actions doesn't catch non action event handlers"
[code]

This snippet doesn't catch the `no-element-event-actions` rule, and I think it should be?

I think it's probably this line: https://github.com/ember-template-lint/ember-template-lint/blob/v2.7.0/lib/rules/no-element-event-actions.js#L38

[2020-05-15 20:10] rwjblue commented on #1343
Well, it isn't using `action` so that rule doesn't flag it 🤔. I guess in this case you really want `no-element-event-properties` kinda rule to completely forbid the `on***` style.

tldr; This isn't a bug per-se (the rule as written wasn't supposed to catch this), but it is absolutely a gap in how we want to guide forwards with their templates.

[2020-05-20 16:38] KamiKillertO commented on #1256
I can have a look at this one

[2020-05-20 16:38] jgwhite opened #1346 "filePath or moduleId (or both)?"
The README suggests using the linter like this:

[code]

And indeed, [this is how ember-language-server uses it](https://github.com/ember-tooling/ember-language-server/blob/db75e45744e8da8023564385a68ca0f2dc0468d9/src/template-linter.ts#L44-L47):

[code]

However, [`bin/ember-template-lint.js` seems to pass `filePath` *and* `moduleId`](https://github.com/ember-template-lint/ember-template-lint/blo

[2020-05-20 20:53] rwjblue commented on #1346
tldr; `filePath` (when representing the _real on disk_ path) is the new hawtness, `moduleId` is the old stinker.

Certain features will not work when not using `filePath` (e.g. `overrides`), but since some rules may have been relying on the presence of `moduleId` the bin script still passes both `moduleId` and `filePath`.

As mentioned in that TODO comment, we need to deprecate using `moduleId`. T

[2020-05-20 21:12] jgwhite commented on #1346
Perfect, thanks @rwjblue!

[2020-05-20 21:46] rwjblue commented on #1346
Reopening to track getting things updated a bit (we at least need to update the `README.md` docs, even if we delay the actual deprecation).

[2020-05-20 21:52] #1274 closed

[2020-05-20 21:57] #1273 closed

[2020-05-21 01:53] #747 closed

[2020-05-22 23:41] #1129 closed

[2020-05-23 04:35] chancancode opened #1351 "Rule-request: no yielding block params to else/inverse block"
[code]

Yielding to else block is mainly useful for supporting curly invocation syntax. However, the else block in curly invocation syntax does not support consuming block params.

[2020-05-23 06:28] chancancode opened #1352 "Rule-request: no yield to default"
[code]

[2020-05-23 13:36] rwjblue commented on #1352
Yep. We should definitely do this, especially as named blocks roll out. Per a quick search on ember observer I don’t think anyone is currently using `to=“default”` but with named blocks folks may start trying it out.

[2020-05-24 18:35] MelSumner commented on #1127
Hmmm. Looking over the PR associated with this issue, I might need some more conversation to understand the POV here.

[2020-05-25 16:02] dcyriller commented on #1180
Just did some eslint research, I'm writing the results here for future reference 😄.

`eslint` has the following options: `--format=json`, `--stdin`, `--stdin-filename` (we have similar concepts in ember-template-lint).

Aside from these options, there is `--fix-dry-run`, which is an interesting option and could be ported pretty easily.

There is also a `--fix-type` option to let users specify whic

[2020-05-26 07:16] rajasegar commented on #1352
@rwjblue @chancancode I am interested in picking this one, can you please assign it to me?

[2020-05-26 09:11] rajasegar commented on #1351
@rwjblue I am interested in picking this one, can you please assign it to me?

[2020-05-26 15:41] rwjblue opened #1358 "Remove automatic TextNode unwrapping in `AstNodeInfo.elementAttributeValue`"
The fact that `AstNodeInfo.elementAttributeValue` automatically unwraps `TextNode` values makes it **very very** easy to miss the fact that it _might_ return a plain string **OR** an AST node. This leads to common errors where folks treat the value like a string, and then assume they can use string methods on the value (since all of the tests added _happen_ to not use a dynamic value).

Examples i

[2020-05-26 15:43] MelSumner opened #1359 "Rule request: `require-valid-form-groups` (or similar)"
Requesting a new rule that requires appropriate semantics for grouped form controls. Correctly grouped form controls will take one of two approaches:

1. use `<fieldset>` + `<legend>` (preferred)
2. associate controls using WAI-ARIA (also acceptable)

## Allowed

[code]

[code]
## Disallowed

[code]

## References
- https://www.w3.org/WAI/tutorials/forms/grouping/
- https://developer.mozilla.org/e

[2020-05-26 16:04] rwjblue commented on #1359
Hmm, this seems to be conflating two things:

* should use a fieldset when you have multiple related form elements (e.g. radio or checkboxes)
* each fieldset should have a legend

I'm not really sure how to enforce the first very well. Certainly having multiple radio buttons warrants a fieldset, but it doesn't seem obvious that anytime you have checkboxes that they are related.

Also, we'd need to

[2020-05-26 16:44] MelSumner commented on #1359
@rwjblue yup, updated. 👍

[2020-05-28 10:39] everydaypanos opened #1360 "Remove rule "no-unnecessary-component-helper""
Hi,
The rule "no-unnecessary-component-helper" does not take into account cases where a component renders inline elements (svg, img etc). In these cases code formatters/beautifiers break the inline portion of the text into multiple lines and thus producing a different result than intended.

FOR EXAMPLE

CODE BEFORE BEAUTIFIER
[code]
CODE AFTER BEAUTIFIER
[code]
RESULT
[code]

CODE BEFORE BEAUTIFIE

[2020-05-28 13:16] rwjblue commented on #1360
Ya, I don't really see this as a bug in the ember-template-lint rule so much as a bug in the beautifier that you are using (what is it?).

[2020-05-28 14:05] everydaypanos commented on #1360
It happens both on VSCode default formatter and on JSBeutifier extension also on VSCode. I think that all HTML/HBS formatters work the same way: Every non-inline tag is out on a new line.